<div class="padded">
  test

  <p>course</p>
  <%= @course.id %>
  <p>lesson</p>
  <%= @lesson.id %>
  <p>quiz</p>
  <%= @quiz.id %>
  <!-- session hasn't been initiated yet -->
  <%= @session %>
  <br>

<br>
<br>
<h2>score is <%= @quiz.score %></h2>

<br>
<br>

  <%= simple_form_for [@course, @lesson, @quiz] do |f| %>

    <!-- question 1 -->
    <%= raw(@question1.question) %>
    <% @options1 = [@question1.option_a, @question1.option_b, @question1.option_c, @question1.option_d] %>
    <%= f.input :user_answer1, collection: @options1, as: :radio_buttons, label: false %>
    <%= f.input :correct_answer1, :input_html => { :value => @question1.answer }  %>


    <!-- question 2 -->
    <%= raw(@question2.question) %>
    <% @options2 = [@question2.option_a, @question2.option_b, @question2.option_c, @question2.option_d] %>
    <%= f.input :user_answer2, collection: @options2, as: :radio_buttons, label: false %>
    <%= f.input :correct_answer2, :input_html => { :value => @question2.answer }  %>

    <!-- question 3 -->
    <%= raw(@question3.question) %>
    <% @options3 = [@question3.option_a, @question3.option_b, @question3.option_c, @question3.option_d] %>
    <%= f.input :user_answer3, collection: @options3, as: :radio_buttons, label: false %>

    <!-- question 4 -->
    <%= raw(@question4.question) %>
    <% @options4 = [@question4.option_a, @question4.option_b, @question4.option_c, @question4.option_d] %>
    <%= f.input :user_answer4, collection: @options4, as: :radio_buttons, label: false %>

    <!-- question 5 -->
    <%= raw(@question5.question) %>
    <% @options5 = [@question5.option_a, @question5.option_b, @question5.option_c, @question5.option_d] %>
    <%= f.input :user_answer5, collection: @options5, as: :radio_buttons, label: false %>

  <%= f.submit "Quiz Done", disabled: "disabled", class: "btn btn-primary" %>

  <% end %>
</div>


<%= link_to "Retake Quiz", edit_course_lesson_quiz_path(@course.id, @lesson.id, @quiz.id), class: "btn btn-primary" %>


        <!-- Lesson Complete Button -->
        <div class="section-margin hidden-xs">

          <div class="row">
            <div class="col-xs-6">
              <%= simple_form_for [@course, @lesson, @session] do |f| %>
                <%= f.button :submit, 'Acknowledged Correct Quiz Answers', class: 'btn btn-success text-center' %>
              <% end %>
            </div>
          </div>
        </div>

        <!-- mobile button -->
        <div class="section-margin visible-xs">
          <div class="row">
            <div class="col-xs-6">
              <%= simple_form_for [@course, @lesson, @session] do |f| %>
                <%= f.button :submit, 'Lesson Finished', class: 'btn btn-success text-center' %>
              <% end %>
            </div>l
            <div class="col-xs-6 text-right">
              <%= link_to "Next Lesson", course_lesson_path(@course.id, @lesson.id + 1), class: "btn btn-primary text-center" %>
            </div>
          </div>
        </div>

