<!-- Banner  -->
<div class="dashboard-banner padded text-center" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%), url(<%= image_path('user_dashboard_banner.png') %>);">
  <div class="container">
    <div class="row justify-content-center">
      <div class="dashboard-user-details">

        <div id="dashboard-photo">
          <% if @user.photo? %>
            <%= cl_image_tag @user.photo.path, class: "profile-img-round" %>
          <% else %>
            <%= image_tag "https://placehold.it/100x100", class: "img-circle" %>
          <% end %>
        </div>

        <div id="dashboard-profile">
          <% if @new_user %>
            <h3>Update your profile</h3>
            <%= link_to "Edit profile", edit_user_path(current_user), class: "btn btn-sm btn-primary" %>
          <% else %>
            <h2 id="dashboard-username"><%= @user.first_name %></h2>
            <h4 id="dashboard-group"><%= @user.group %></h4>
          <% end %>
        </div>

      </div>

    <div class="row">
      <div class="col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-12" id="dashboard-user-ranking">
        <ul>
          <li class="col-xs-12 col-sm-4">参与课程: <span class="blue-text"><%= @completed_enrollments.count %> </span>个</li>
          <li class="col-xs-12 col-sm-4">最高课程得分: <span class="blue-text">167 </span>/ 233 </li>
          <li class="col-xs-12 col-sm-4">最高课程排名: <span class="blue-text">4 </span>/ 56 </li>
        </ul>
      </div>
    </div>

    </div>
  </div>
</div>


<div>
  <div class="dashboard-course-container">

  <!-- Sidebar -->
  <div id="dashboard-sidebar">
    <ul class="sidebar-tabs">
      <li class="active"><a data-toggle="tab" href="#courses">我的课程</a></li>
      <li><a data-toggle="tab" href="#notifications">课程通知<span class="badge">5</span></a></li>
      <li><a data-toggle="tab" href="#ranking">我的排名</a></li>
    </ul>
  </div>

  <div class="container">
    <div class="main">
      <div class="tab-content">
        <div id="courses" class="tab-pane active">

    <!-- New User Interface (shows if user hasn't signed up to any courses -->
    <% if @new_user %>
      <div class="text-center find-course">
        <h3>Start a course now!</h3>
        <%= link_to "Find a course", courses_path(:anchor => "courses"), class: "btn btn-primary" %>
      </div>
    <% end %>

    <!-- Current Course Information -->
    <% unless @new_user %>
      <% @current_enrollments.each do |enrollment| %>

    <div class="dashboard-course-card">

    <!-- Course Status -->
    <div class="dashboard-incomplete-status">
      <p><span>正在进行</span></p>
    </div>

    <div class="card-left">

      <!-- Course Description -->
      <div class="dashboard-course-description">
        <h2><%= enrollment.course.title %></h2>
      </div>

      <!-- Progress Bar -->
      <div class="progress-section">
      <div class="progress">
        <% @total_lessons = enrollment.course.lessons.count %>
        <% @number_completed_sessions = 0 %>
        <% enrollment.sessions.each do |session| %>
          <% if session.completed? %>
          <% @number_completed_sessions += 1 %>
          <% end %>
        <% end %>
        <% @number_completed_sessions %>
        <% @percentage = (@number_completed_sessions*100 / @total_lessons) %>
        <div class="progress-bar" role="progressbar" aria-valuenow="70"
        aria-valuemin="0" aria-valuemax="100" style="width:<%= @percentage %>%">
          <span class="sr-only"><%= @percentage %>%</span>
        </div>
      </div>
        <%= @percentage %>%
      </div>

      <!-- Score Section -->
      <div class="score-section">
        <p>课程得分: 67 <a href="#" data-toggle="tooltip" title="This is your score for the course"><i class="fa fa-question-circle-o" aria-hidden="true"></i></a>课程排名: 6/50 <a href="#" data-toggle="tooltip" title="This is your ranking for the course"><i class="fa fa-question-circle-o" aria-hidden="true"></i></a></p>
      </div>

    </div>

    <div class="card-right text-center">

      <!-- Resume Course Button -->
      <div class="continue-course-button text-center">
          <% if enrollment.sessions.where(:status => "completed").count == 0 %>
            <% @current_lesson = enrollment.course.lessons.first %>
          <% else %>
            <% @last_completed_lesson = enrollment.sessions.where(:status => "completed").last.lesson_id %>
            <% @current_lesson = @last_completed_lesson + 1 %>
          <% end %>
        <%= link_to "继续上课", course_lesson_path(enrollment.course, @current_lesson), class: "btn dashboard-success" %>
      </div>

      <!-- Progress & Course Date -->
      <div class="date-section">
        <p>课程进度: 第 7/10 周</p>
        <p>结课日期：2017.07.23</p>
      </div>

    </div>

      </div>
    <% end %>

  <% end %>

  <!-- Completed Course Information -->
  <% unless @new_user %>
  <% @completed_enrollments.each do |enrollment| %>

  <div class="dashboard-course-card">

    <!-- Course Status -->
    <div class="dashboard-complete-status">
      <p><span>已完成</span></p>
    </div>

    <div class="card-left">

      <!-- Course Description -->
      <div class="dashboard-course-description">
        <h2><%= enrollment.course.title %></h2>
      </div>

      <!-- Progress Bar -->
      <div class="progress">
        <% @total_lessons = enrollment.course.lessons.count %>
        <% @number_completed_sessions = 0 %>
        <% enrollment.sessions.each do |session| %>
          <% if session.completed? %>
          <% @number_completed_sessions += 1 %>
          <% end %>
        <% end %>
        <% @number_completed_sessions %>
        <% @percentage = (@number_completed_sessions*100 / @total_lessons) %>
        <div class="progress-bar" role="progressbar"
        aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:<%= @percentage %>%">
          <span class="sr-only"><%= @percentage %>%</span>
        </div>
          <%= @percentage %>
      </div>

      <!-- Score Section -->
      <div class="score-section">
        <p>课程得分: 67 <a href="#" data-toggle="tooltip" title="This is your score for the course"><i class="fa fa-question-circle-o" aria-hidden="true"></i></a> 课程排名: 6/50 <a href="#" data-toggle="tooltip" title="This is your ranking for the course"><i class="fa fa-question-circle-o" aria-hidden="true"></i></a></p>
      </div>

    </div>

    <div class="card-right text-center">

      <!-- Review Course Button -->
      <div class="text-center">
        <%= link_to "查看课程", course_path(enrollment.course), class: "btn dashboard-danger" %>
      </div>

      <!-- Progress & Course Date -->
      <div class="date-section">
        <p>课程进度: 第 7/10 周</p>
        <p>结课日期：2017.07.23</p>
      </div>

    </div>

    </div>

    <% end %>
    <% end %>

    </div>

    <div id="notifications" class="tab-pane">
      <div class="dashboard-notification-card">

        <div class="left-notification-card">
          <div>
            <p>你有一条系统通知</p>
          </div>
          <div class="notification-image">
            <a href="https://placeholder.com"><img src="http://via.placeholder.com/65x65"></a>
          </div>
          <div>
            <p>Learnforgood</p>
            <p>你注册的课程「人脸识別寻找走失儿童」明天就正式开课程</p>
          </div>
        </div>

        <div class="right-notification-card">
          <div class="notification-date">
            <p>2017年8月22日 14:22</p>
          </div>
          <div class="notification-arrow">
            <h1>></h1>
          </div>
        </div>

      </div>
    </div>

    <div id="ranking" class="tab-pane">

      <!-- Dropdown -->
      <div class="ranking-dropdown">
      <p class="ranking-heading">我参与的课程 : </p>
        <div class="btn-group">
          <button type="button" class="btn btn-secondary ranking-btn">Courses</button>
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#"><% @courses.each do |course| %>
            <%= course.title %></a>
            <% end %>
            </li>
          </ul>
        </div>
      </div>

      <!-- Table -->
      <div class="table-responsive text-center">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>排名</th>
              <th>用户</th>
              <th class="col_3">来自</th>
              <th>分数</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <% @courses.each do |course| %>
                <% course.enrollments.each do |enrollment| %>
              <td>1</td>
              <td>
                <%= enrollment.user.first_name %>
              </td>
              <td class="col_3">john@example.com</td>
              <td>98</td>
                <% end %>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
