<!-- Banner  -->
<div class="dashboard-banner padded text-center" id="gradient" >
  <div class="container">

    <div class="dashboard-user-details">
      <% if @new_user %>
        <h1>Welcome to TechForGood!</h1>
      <% else %>
        <h1>Hello <%= @user.first_name%>!</h1>
      <% end %>

      <% if @new_user %>
        <h3>Update your profile</h3>
      <% else %>
        <h3>What did you learn today?</h3>
      <% end %>
    </div>

    <!-- Tabs -->
    <div class="tabs">
        <ul class="tab-links">
            <li class="active"><a href="#Courses">Courses</a></li>
            <li><a href="#Classmates">Classmates</a></li>
            <li><a href="#Profile">Profile</a></li>
        </ul>
    </div>

  </div>
</div>

    <!-- Nav tabs -->
    <ul class="nav tabs" role="tablist">
      <li role="presentation" class="tab active">
        <a href="#progress" aria-controls="progress" role="tab" data-toggle="tab">Current Courses</a>
      </li>
      <li role="presentation" class="tab">
        <a href="#completed" aria-controls="completed" role="tab" data-toggle="tab">Completed Courses</a>
      </li>
      <li role="presentation" class="tab">
        <a href="#classmates" aria-controls="classmates" role="tab" data-toggle="tab">Classmates</a>
      </li>
      <li role="presentation" class="tab">
        <a href="#edit" aria-controls="edit" role="tab" data-toggle="tab"> Profile</a>
      </li>
    </ul>


<!--
      <a class="tab active" href="#progress"  aria-controls="progress" role="tab" data-toggle="tab"><h5>Courses In Progress</h5></a>
      <a class="tab active" href="#completed" aria-controls="completed" role="tab" data-toggle="tab"><h5>Past Courses</h5></a>
      <a class="tab active" href="#classmates" aria-controls="classmates" role="tab" data-toggle="tab"><h5>classmates</h5></a>
      <a class="tab active" href="#edit" aria-controls="edit" role="tab" data-toggle="tab"><h5>Edit Profile</h5></a> -->

<!-- New User Interface (shows if user hasn't signed up to any courses -->
<% if @new_user %>

  <div class="text-center padded">
    <h3>Start a course now!</h3>
    <%= link_to "Find a course", courses_path(:anchor => "courses"), class: "btn btn-primary" %>
  </div>

<% end %>

<!-- Tab Content -->
<div class="tab-content">

<!-- Start a New Course Section -->
<h3 >Courses</h3>
<div id="Courses" class="progress-circle padded text-center tab active">
  <h5>Completed Courses</h5>

  <!-- Progress Circle -->
  <div id="circle-progress" data-dimension="120" data-text="<%= @completed_enrollments.count %>" data-fontsize="36" data-percent="<%= @completed_enrollments.count %>" data-fgcolor="#5fb3b3" data-bgcolor="#eee" data-width="15" data-bordersize="8" data-animationstep="2"></div>

  <!-- Enroll Button -->
  <% unless @new_user %>
    <div align="center" class="dashboard-enroll-button">
      <%= link_to "Start a new course", courses_path(:anchor => "courses"), class: "btn btn-primary" %>
    </div>
  <% end %>

</div>

<!-- Current Course Information -->
<% unless @new_user %>

<div class="container padded">
  <h3 align="center" class="heading">Current Courses</h3>

  <% @current_enrollments.each do |enrollment| %>
    <div class="dashboard-course-card">
      <div class="card-content">

        <!-- Course Description -->
        <div class="dashboard-course-description">
          <h2><%= enrollment.course.title %></h2>
          <p><%= link_to enrollment.course.organization.name, organization_path(enrollment.course.organization_id) %></p>
        </div>
        <br>

        <!-- Score Section -->
        <div class="score-section">
          <p>Score: 67 <a href="#" data-toggle="tooltip" title="This is your score for the course"><i class="fa fa-question-circle-o" aria-hidden="true"></i></a></p>
          <p>Rank: 6/50 <a href="#" data-toggle="tooltip" title="This is your ranking for the course"><i class="fa fa-question-circle-o" aria-hidden="true"></i></a></p>
        </div>
        <br>

        <!-- Progress Bar -->
        <div class="progress">
          <% @total_lessons = enrollment.course.lessons.count %>
          <% @number_completed_sessions = 0 %>
          <% enrollment.sessions.each do |session| %>
            <% if session.completed? %>
            <% @number_completed_sessions += 1 %>
            <% end %>
          <% end %>
          <% @number_completed_sessions %>
          <% @percentage = (@number_completed_sessions*100 / @total_lessons) %>
          <div class="progress-bar active" role="progressbar"
          aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:<%= @percentage %>%">
            <%= @percentage %>%
          </div>
        </div>
        <br>

        <!-- Resume Course Button -->
        <div class="continue-course-button">
            <% if enrollment.sessions.where(:status => "completed").count == 0 %>
              <% @current_lesson = enrollment.course.lessons.first %>
            <% else %>
              <% @last_completed_lesson = enrollment.sessions.where(:status => "completed").last.lesson_id %>
              <% @current_lesson = @last_completed_lesson + 1 %>
            <% end %>
          <%= link_to "Resume Course", course_lesson_path(enrollment.course, @current_lesson), class: "btn btn-success" %>
        </div>

      </div>
    </div>
  <% end %>
</div>

<% end %>

<!-- Completed Course Information -->
<% unless @new_user %>

<div class="container padded">
  <div class="row">
    <h3 align="center" class="heading">Completed Courses</h3>

    <% @completed_enrollments.each do |enrollment| %>
      <div class="dashboard-course-card">
        <div class="card-content">

            <!-- Course Description -->
            <div class="dashboard-course-description">
              <h2><%= enrollment.course.title %></h2>
              <p><%= link_to enrollment.course.organization.name, organization_path(enrollment.course.organization_id) %></p>
            </div>
            <br>

            <!-- Score Section -->
            <div class="score-section">
              <p>Score: 67 <a href="#" data-toggle="tooltip" title="This is your score for the course"><i class="fa fa-question-circle-o" aria-hidden="true"></i></a></p>
              <p>Rank: 6/50 <a href="#" data-toggle="tooltip" title="This is your ranking for the course"><i class="fa fa-question-circle-o" aria-hidden="true"></i></a></p>
            </div>
            <br>

            <!-- Progress Bar -->
            <div class="progress">
              <% @total_lessons = enrollment.course.lessons.count %>
              <% @number_completed_sessions = 0 %>
              <% enrollment.sessions.each do |session| %>
                <% if session.completed? %>
                <% @number_completed_sessions += 1 %>
                <% end %>
              <% end %>
              <% @number_completed_sessions %>
              <% @percentage = (@number_completed_sessions*100 / @total_lessons) %>
              <div class="progress-bar active" role="progressbar"
              aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:<%= @percentage %>%">
                <%= @percentage %>%
              </div>
            </div>
            <br>

            <!-- Complete Course Button -->
            <div class="continue-course-button">
              <%= link_to "Review Course", course_path(enrollment.course), class: "btn btn-success" %>
            </div>

        </div>
      <% end %>

<!-- <h3>Courses</h3>
    <div class="progress-circle padded text-center tab-pane tab active">
      <h5>Completed Courses</h5> -->

      <!-- Progress Circle -->
<!--       <div id="circle-progress" data-dimension="120" data-text="<%#= @completed_enrollments.count %>" data-fontsize="36" data-percent="<%#= @completed_enrollments.count %>" data-fgcolor="#5fb3b3" data-bgcolor="#eee" data-width="15" data-bordersize="8" data-animationstep="2"></div> -->

      <!-- Enroll Button -->
      <%# unless @new_user %>
<!--         <div align="center" class="dashboard-enroll-button">
          <%= link_to "Start a new course", courses_path(:anchor => "courses"), class: "btn btn-primary" %>
        </div> -->
      <%# end %>
<!--     </div> -->

    </div>
  </div>
</div>

<% end %>

<!-- Classmates -->
<h3 id="Classmates" class="tab">Classmates</h3>

<% @current_enrollments.each do |enrollment| %>
  <% @all_enrollments = enrollment.course.enrollments %>
    <% @all_enrollments.each do |enrollment|  %>

      <ul>
        <li class="card">
          <div class="card__flipper">
            <div class="card__front">
              <p class="card__num">
              <!-- Name -->
              <p class="card__name"><span><%= enrollment.user.first_name %></span> <%= enrollment.user.last_name %></p>
              <br>

              <!-- Photo -->
              <% if enrollment.user.photo? %>
                <%= cl_image_tag enrollment.user.photo.path, class: "dashboard-img-round" %>
              <% else %>
                <%= image_tag "https://placehold.it/100x100", class: "img-circle" %>
              <% end %></p>
              <br>

              <!-- Group -->
              <p class="card__name user-email"><%= enrollment.user.group %></p>
              <br>

      <!-- Profile -->
      <h3 class="tab">Profile</h3>
      <div class="profile-section">
        <div class="profile-item text-center">
          <% if @user.photo? %>
            <%= cl_image_tag @user.photo.path, class: "dashboard-img-round" %>
          <% else %>
            <%= image_tag "https://placehold.it/150x150", class: "img-circle" %>
          <% end %>
        </div>
        <div class="profile-item text-center">
          <h4><%= @user.first_name %> <%= @user.last_name %></h4>
          <br>
          <p><%= @user.email %></p>
          <br>
          <p><%= @user.group %></p>
        </div>
      </div>

      <!-- Edit Profile Button -->
      <div class="edit-profile-button padded text-center">
        <%= link_to "Edit profile", edit_user_path(current_user), class: "btn btn-primary" %>
      </div>
    </div>

              <!-- Email -->
              <p class="card__name user-email"><%= enrollment.user.email %></p>
            </div>

            <div class="card__back">
                <circle cx="90" cy="90" r="55" stroke="#514d9b" stroke-width="35"  />
              </svg>
              <span>113.2</span>
            </div>

          </div>
        </li>
      </ul>

    <% end %>
  <% end %>

<!-- Profile -->
<h3 id="Profile" class="tab">Profile</h3>
<% if @user.photo? %>
  <%= cl_image_tag @user.photo.path, class: "dashboard-img-round" %>
<% else %>
  <%= image_tag "https://placehold.it/200x200", class: "img-circle" %>
<% end %>
<br>
<p><%= @user.first_name %> <%= @user.last_name %></p>
<br>
<p>Email: <%= @user.email %></p>
<br>
<p>Group: <%= @user.group %></p>

<!-- Edit Profile Button -->
  <div class="edit-profile-button padded">
    <%= link_to "Edit profile", edit_user_path(current_user), class: "btn btn-primary" %>
  </div>
=======
  <div role="tabpanel" class="tab-pane" id="classmates">

    <!-- Classmates -->
    <h3 id="classmates" class="tab">Classmates</h3>
    <ul>
      <% @current_enrollments.each do |enrollment| %>
        <% @all_enrollments = enrollment.course.enrollments %>
          <% @all_enrollments.each do |enrollment|  %>
            <li class="card">
              <div class="card__flipper">
                <div class="card__front text-center">

                  <!-- Name -->
                  <p class="card__name">
                    <span><%= enrollment.user.first_name %>
                    </span> <%= enrollment.user.last_name %>
                  </p>
                  <br class="spacing">

                  <!-- Photo -->
                  <% if enrollment.user.photo? %>
                    <%= cl_image_tag enrollment.user.photo.path, class: "dashboard-img-round" %>
                  <% else %>
                    <%= image_tag "https://placehold.it/100x100", class: "img-circle" %>
                  <% end %>
                  <br class="spacing">

                  <!-- Group -->
                  <p class="card__name user-email"><%= enrollment.user.group %></p>
                  <br>

                  <!-- Email -->
                  <p class="card__name user-email"><%= enrollment.user.email %></p>

                </div>

                <div class="card__back">
                    <circle cx="90" cy="90" r="55" stroke="#514d9b" stroke-width="35"  />
                  </svg>
                  <span><%= image_tag "catpurr.gif", class: "gif-circle" %></span>
                </div>

              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>

</div>
