<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <p>Some content.</p>
  </div>
</div>

<!-- Classmates -->
<ul>
  <% @current_enrollments.each do |enrollment| %>
    <% @all_enrollments = enrollment.course.enrollments %>
      <% @all_enrollments.each do |enrollment|  %>
        <li class="card">
        <div class="card__flipper">
          <div class="card__front text-center">

              <!-- Name -->
              <h4 class="card__name">
                <span><%= enrollment.user.first_name %></span>
<!--                <%= enrollment.user.last_name %> -->
              </h4><br>

              <!-- Photo -->
              <% if enrollment.user.photo? %>
                <%= cl_image_tag enrollment.user.photo.path, class: "classmates-img-round" %>
              <% else %>
                <%= image_tag "https://placehold.it/100x100", class: "img-circle" %>
              <% end %>
              <br>

              <!-- Email -->
              <p class="card__name user-email"><%= enrollment.user.email %></p>

              <!-- Group -->
<!--                   <p class="card__name user-email"><%= enrollment.user.group %></p> -->
            </div>

            <div class="card__back">
                <circle cx="90" cy="90" r="55" stroke="#514d9b" stroke-width="35"  />
              </svg>
            <span><%= enrollment.user.bio %></span>
            </div>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>

<!-- Profile -->
<h3 class="tab profile-section">Profile</h3>
  <% if @user.photo? %>
    <%= cl_image_tag @user.photo.path, class: "profile-img-round" %>
  <% else %>
    <%= image_tag "https://placehold.it/200x200", class: "img-circle" %>
  <% end %>
  <h4><%= @user.first_name %> <%= @user.last_name %></h4>
  <p><%= @user.email %></p>
  <p><%= @user.group %></p>

  <!-- Edit Profile Button -->
  <div class="edit-profile-button">
    <%= link_to "Edit profile", edit_user_path(current_user), class: "btn btn-primary" %>
  </div>


  <!-- Sidebar -->
  <div id="sidebar" class="text-center">
    <div class="">

      <!-- This is the button to close the sidenav -->
      <div class="text-right div-relative flexbox">
        <button href=""  class="closebtn text-right" onclick="closeNav()">
          &times;
        </button>
      </div>

      <div class="text-left flexbox">
        <div class="sidebar-text flex-item-score">
          <h5><strong>我的课程</strong></h5>
        </div>
        <div class="sidebar-text flex-item-rank">
          <h5><strong>课程通知</strong></h5>
        </div>
        <div class="sidebar-text flex-item-rank">
          <h5><strong>我的排名</strong></h5>
        </div>
      </div>

    </div>
  </div>

<div class="wrapper-learning-process parallax" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path('zi-jian-lim-227847_j6rckn', height: 1082, width: 1624, crop: :lfill) %>);" id="how_does_it_work">
  <div class="container padded">
    <div class="row">
    <h3 align="center">How does it work?</h3>

      <% @steps.each do |step, icon| %>
      <div class="col-xs-12 col-md-4">
        <div class=" learning-process-card">
          <div class="learning-process-description text-center">
            <h2><%= step %></h2>
            <h1><i class="fa fa-<%= icon %>" aria-hidden="true"></i></h1>
          </div>
        </div>
      </div>
      <% end %>

    </div>
  </div>
</div>

<!-- Banner -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,101,168,0.3) 50%), url(<%= image_path('homepage_banner.png') %>);">
  <div class="text-50px">
    <h1>学习创新技术<br>为你的社区创造积极影响力</h1>
    <a class="btn btn-lg btn-primary homepage-btn" href="#courses" role="button ">开始学习</a>
  </div>
</div>

<!-- Footer -->
<div id="footer">
  <div class="container">
    <div class="row footer-content text-center">

      <div class="col-xs-12 col-sm-6 col-md-4">
        <ul class="list-inline">
          <li><a href=""><i class="fa fa-weixin" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-github" aria-hidden="true"></i></a></li>
        </ul>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <p>沪ICP备17006075号-1</p>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <p>Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by Project Elon</p>
      </div>

      </div>
    </div>
  </div>
</div>

<!-- Login -->
<div class="align-center height-80vh bg-blue">
  <div class="width-960 bg-blue6 ">
    <div class="text-right col-xs-12 col-sm-4">
      <%= image_tag "footer_heading.png", class: ""%>
      <h2>学习创新技术与设计,給世界带来一点点的改变</h2>
    </div>

    <div class="text-left col-xs-12 col-sm-8 text-white bg-blue form-border slightly_padded link-white">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs text-white">
          <%= f.input :email, required: false, autofocus: true %>
          <%= f.input :password, required: false %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions ">
          <%= f.button :submit, "Log in", class: "fredoka text-blue6 btn-round btn-white btn-block" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>

  </div>
</div>
