<!-- <div class="align-center height-80vh bg-blue">
  <div class="width-960 bg-blue6 ">
    <div class="text-right col-xs-12 col-sm-4 text-white ">
      <h2 class="fredoka">Forgot your password?</h2>
    </div>

    <div class="text-left col-xs-12 col-sm-8 text-white bg-blue form-border slightly_padded link-white">
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Send me reset password instructions", class: "fredoka text-blue6 btn-round btn-white btn-block" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>

  </div>
</div> -->

<!-- Navbar -->
<div class="navbar-fixed-top">
  <div id="navbar" class="navbar-techforgood">
    <!-- Logo -->
    <a href="#top" class="page-scroll">
      <%= link_to root_path, class: "navbar-techforgood-brand" do %>
        <%= image_tag "techforgood logo.png" %>
      <% end %>
    </a>

    <!-- Right Navigation -->
    <div id="nav" class="navbar-techforgood-right hidden-xs hidden-sm">

      <!-- Different navigation if login or not -->
      <% if user_signed_in? %>

        <!-- Profile picture and dropdown -->
        <div class="navbar-techforgood-item">
          <div class="dropdown">
            <% if current_user.photo? %>
              <%= cl_image_tag current_user.photo.path, height: 50, width: 50, class: "img-circle", crop: :thumb, gravity: :face, "data-toggle" => "dropdown" %>
            <% else %>
              <%= image_tag "avatar_placeholder.png", class: "avatar-large dropdown-toggle", id: "navbar-techforgood-menu", "data-toggle" => "dropdown" %>
            <% end %>
            <ul class="dropdown-menu dropdown-menu-right navbar-techforgood-dropdown-menu">
              <li>
                <%= link_to dashboard_users_path do %>
                  <i class="fa fa-user fa-fw text-blue7"></i> <%= t(".profile", default: "Dashboard") %>
                <% end %>
              </li>

              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fa fa-sign-out fa-fw text-blue7"></i>  <%= t(".sign_out", default: "Log out") %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>

      <% else %>

        <!-- Login text link -->
      <%#= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-techforgood-item navbar-techforgood-link" %>

        <%= link_to t(".sign_in", default: "登陆"), new_user_session_path, class: "btn btn-sm btn-primary login-button" %>

        <%= link_to t(".sign_up", default: "注册"), new_user_registration_path, class: "btn btn-sm btn-primary register-button" %>

      <% end %>
    </div>

    <!-- Dropdown list appearing on mobile only -->
    <% if user_signed_in? %>
      <div class="navbar-techforgood-item hidden-md hidden-lg">
        <div class="dropdown">
          <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-techforgood-dropdown-menu">
            <li>
              <%= link_to dashboard_users_path do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Dashboard") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% end %>

  </div>
</div>


<div class="login-container">

  <div class="login-left align-center col-xs-12 col-md-6">
    <div>
        <%= image_tag "footer_heading.png", class: "login-logo" %>
        <h4 class="font-22px">学习创新技术与设计，给世界带来一点点的改变</h4>
        <h4 class="font-22px" style="color: #4990e2; margin-top: 30px; margin-bottom: 30px;">重设密码</h4>


    <div class="width-70">
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, label: false, required: true, autofocus: true, placeholder: '填写已注册邮箱'; %>
          <div class="form-condense">
            <%= f.input :password, label: false, placeholder: '新密码（6-14位英文或数字）', required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          </div>
          <%= f.input :password_confirmation, label: false, placeholder: '填写验证码', required: true %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "重设密码", class: "btn btn-primary btn-password btn-lg", style: "padding-left: 120px; padding-right: 120px; margin-top: 30px;" %>
        </div>
      <% end %>
    </div>

  </div>
</div>

  <div class="text-center col-xs-12 col-md-6">
    <div class="login-image", style="background-image: linear-gradient(-225deg, rgba(0,75,162,0.3) 0%, rgba(0,75,162,0.3) 50%), url(<%= image_path('loginpage_image.png') %>); margin-top: 170px; background-position: top; height: 404px; width: 543px; background-size: cover !important; margin-left: 10px;">
    </div>
  </div>

</div>

<div id="footer" style="display: none;">
