<div id="sidebar" class="text-center">
    <div class="">

      <!-- WHY MODULE -->
      <div class="text-left module-completed flexbox" data-toggle="collapse" data-target="#why">
        <div class="lesson-text flex-item-title text-white">
          <h5><strong>WHY </strong></h5>
        </div>
        <div class="lesson-text flex-item-week">
          <h6> (week 1)</h6>
        </div>
        <div class="lesson-text flex-item-complete">
          <h6>Finished</h6>
        </div>
      </div>

      <div id="why" class="collapse">
        <% @why_lessons.each do |lesson| %>

            <div class="text-left lesson-tab div-relative flexbox">
              <%= simple_form_for [@course, lesson, Session.new] do |f| %>
                <%#= f.input :status, input_html: { value: 'started' }, as: :hidden  %>
                <%= f.button :submit, '', class: 'card-link', disabled: false  %>
              <% end %>
              <div class="lesson-text flex-item-image">
                <h6><i class="fa fa-md <%= fontawesome_icon(lesson) %> text-success" aria-hidden="true"></i></h6>
              </div>
              <div class="lesson-text flex-item-lesson-title">
                <h6><%= lesson.title %></h6>
              </div>
              <div class="lesson-text flex-item-time text-lightgray">
                <h6><%= lesson.minutes %> mins</h6>
              </div>

            </div>

        <% end %>
      </div>


      <!-- WHAT MODULE -->
      <div class="text-left module-pending flexbox" data-toggle="collapse" data-target="#what">
        <div class="lesson-text flex-item-title text-white">
          <h5><strong>WHAT </strong></h5>
        </div>
        <div class="lesson-text flex-item-week">
          <h6> (week 2)</h6>
        </div>
        <div class="lesson-text flex-item-complete text-warning">
          <h6>Missed</h6>
        </div>
      </div>


      <div id="what" class="collapse">

        <% @what_lessons.each do |lesson| %>

            <div class="text-left lesson-tab div-relative flexbox">
              <%= simple_form_for [@course, lesson, Session.new] do |f| %>
                <%#= f.input :status, input_html: { value: 'started' }, as: :hidden  %>
                <%= f.button :submit, '', class: 'card-link', disabled: false  %>
              <% end %>
              <div class="lesson-text flex-item-image">
                <h6><i class="fa fa-md <%= fontawesome_icon(lesson) %> text-success" aria-hidden="true"></i></h6>
              </div>
              <div class="lesson-text flex-item-lesson-title">
                <h6><%= lesson.title %></h6>
              </div>
              <div class="lesson-text flex-item-time text-lightgray">
                <h6><%= lesson.minutes %> mins</h6>
              </div>

            </div>

        <% end %>
      </div>

      <!-- HOW MODULE -->
      <div class="text-left module-pending flexbox" data-toggle="collapse" data-target="#how">
        <div class="lesson-text flex-item-title text-white">
          <h5><strong>HOW </strong></h5>
        </div>
        <div class="lesson-text flex-item-week">
          <h6> (week 3-8)</h6>
        </div>
        <div class="lesson-text flex-item-complete text-success">
          <h6>On Going</h6>
        </div>
      </div>

      <div id="how" class="collapse">
        <% @how_lessons.each do |lesson| %>

            <div class="text-left lesson-tab div-relative flexbox">
              <%= simple_form_for [@course, lesson, Session.new] do |f| %>
                <%#= f.input :status, input_html: { value: 'started' }, as: :hidden  %>
                <%= f.button :submit, '', class: 'card-link', disabled: false  %>
              <% end %>
              <div class="lesson-text flex-item-image">
                <h6><i class="fa fa-md <%= fontawesome_icon(lesson) %> text-success" aria-hidden="true"></i></h6>
              </div>
              <div class="lesson-text flex-item-lesson-title">
                <h6><%= lesson.title %></h6>
              </div>
              <div class="lesson-text flex-item-time text-lightgray">
                <h6><%= lesson.minutes %> mins</h6>
              </div>

            </div>
        <% end %>
      </div>




    </div>
  </div>
