<div id="sidebar" class="text-center">
    <div class="">

      <!-- This is the button to close the sidenav -->


      <div class="text-right div-relative flexbox">
        <button href=""  class="closebtn text-right" onclick="closeNav()">
          &#9776
        </button>
      </div>




      <!-- WHY MODULE -->
      <div class="text-left module-completed flexbox" data-toggle="collapse" data-target="#why">
        <div class="lesson-text flex-item-title text-white">
          <h5><strong>WHY </strong></h5>
        </div>
        <div class="flex-item-week">
          <h6> (week 1)</h6>
        </div>
        <div class="flex-item-complete lesson-completed">
          <h6>Finished</h6>

        </div>
      </div>


      <div id="why" class="collapse <%= @lesson.nil? ? "in" : (@lesson.module_name == "why" ? "in" : "") %> ">
        <% @why_lessons.each do |lesson| %>



            <div class="text-left position-relative <%= @lesson.nil? ? "lesson-tab" : (@lesson.id == lesson.id ? "div-blue" : "lesson-tab") %> div-relative flexbox">
              <%= link_to "", course_lesson_path(@course.id, lesson.id), class: "lesson-link" %>
              <div class="lesson-text flex-item-image">
                <h6><i class="fa fa-md <%= fontawesome_icon(lesson) %> <%= lesson.sessions.where(:user_id => current_user.id).exists? ? (fontawesome_color(lesson)) : "text-darkgray" %>" aria-hidden="true"></i></h6>
              </div>
              <div class="lesson-text flex-item-lesson-title">
                <h6><%= lesson.title %></h6>
              </div>
              <div class="lesson-text flex-item-time text-lightgray">
                <h6><%= lesson.minutes %> mins</h6>
              </div>

            </div>

        <% end %>
      </div>


      <!-- WHAT MODULE -->
      <div class="text-left module-pending flexbox" data-toggle="collapse" data-target="#what">
        <div class="lesson-text flex-item-title text-white">
          <h5><strong>WHAT </strong></h5>
        </div>
        <div class="flex-item-week">
          <h6> (week 2)</h6>
        </div>
        <div class="flex-item-complete lesson-missed">
          <h6>Missed</h6>
        </div>
      </div>


      <div id="what" class="collapse <%= @lesson.nil? ? "in" : (@lesson.module_name == "what" ? "in" : "") %> ">

        <% @what_lessons.each do |lesson| %>

           <div class="text-left position-relative <%= @lesson.nil? ? "lesson-tab" : (@lesson.id == lesson.id ? "div-blue" : "lesson-tab") %> div-relative flexbox">
              <%= link_to "", course_lesson_path(@course.id, lesson.id), class: "lesson-link" %>
              <div class="lesson-text flex-item-image">

                <h6><i class="fa fa-md <%= fontawesome_icon(lesson) %> <%= lesson.sessions.where(:user_id => current_user.id).exists? ? (fontawesome_color(lesson)) : "text-darkgray" %>" aria-hidden="true"></i></h6>

              </div>
              <div class="lesson-text flex-item-lesson-title">
                <h6><%= lesson.title %></h6>
              </div>
              <div class="lesson-text flex-item-time text-ongoing">
                <h6><%= lesson.minutes %> mins</h6>
              </div>

            </div>

        <% end %>
      </div>

      <!-- HOW MODULE -->
      <div class="text-left module-pending flexbox" data-toggle="collapse" data-target="#how">
        <div class="lesson-text flex-item-title text-white">
          <h5><strong>HOW </strong></h5>
        </div>
        <div class="flex-item-week">
          <h6> (week 3-8)</h6>
        </div>
        <div class="flex-item-complete lesson-ongoing">
          <h6>On Going</h6>
        </div>
      </div>

      <div id="how" class="collapse <%= @lesson.nil? ? "in" : (@lesson.module_name == "how" ? "in" : "") %> ">
        <% @how_lessons.each do |lesson| %>


            <div class="text-left position-relative <%= @lesson.nil? ? "lesson-tab" : (@lesson.id == lesson.id ? "div-blue" : "lesson-tab") %> div-relative flexbox">
              <%= link_to "", course_lesson_path(@course.id, lesson.id), class: "lesson-link" %>
              <div class="lesson-text flex-item-image">
                <h6><i class="fa fa-md <%= fontawesome_icon(lesson) %> <%= lesson.sessions.where(:user_id => current_user.id).exists? ? (fontawesome_color(lesson)) : "text-darkgray" %>" aria-hidden="true"></i></h6>
              </div>
              <div class="lesson-text flex-item-lesson-title">
                <h6><%= lesson.title %></h6>
              </div>
              <div class="lesson-text flex-item-time text-lightgray">
                <h6><%= lesson.minutes %> mins</h6>
              </div>

            </div>
        <% end %>
      </div>


      <!-- PROFESSOR CHAT -->
      <div class="text-left module-pending flexbox" data-toggle="collapse" data-target="#professor">
        <div class="lesson-text flex-item-title text-white">
          <h5><strong>Your Personal Teaching Assistant </strong></h5>
        </div>
      </div>

      <div id="professor" class="collapse in parent-relative">

        <iframe src="https://api.motion.ai/webchat/67253?color=62a8ea&sendBtn=SEND&inputBox=Type%20something...&token=966fad4dec093993a7e3a249eb397d0b" width="280" height="600" class="child-tobecovered"></iframe>

        <div class="background-white child-absolute text-center">
          <p> </p>
        </div>
      </div>

    </div>
  </div>

<!-- AI ChatBot -->
  <script src="https://api.motion.ai/sdk/webchat.js"></script>



