<div id="sidebar" class="text-center">
    <div class="">

      <!-- This is the button to close the sidenav -->
      <div class="text-right div-relative flexbox">
        <button href=""  class="closebtn text-right" onclick="closeNav()">
          &times;
        </button>
      </div>

      <div>
        <div class="text-left flexbox">
          <div class="lesson-text flex-item-score">
            <h5><strong>Score: 67</strong></h5>
          </div>
          <div class="lesson-text flex-item-rank">
            <h5><strong>Rank: <%= @course_user_current_score %> / <%= @course_max_score %> </strong></h5>
          </div>
        </div>
      </div>


      <!-- WHY MODULE -->
      <div class="text-left module-completed flexbox" data-toggle="collapse" data-target="#why">
        <div class="lesson-text flex-item-title text-white">
          <h5><strong>WHY </strong></h5>
        </div>
        <div class="flex-item-week">
        </div>
        <div class="flex-item-complete lesson-completed">
          <h6>Finished</h6>
        </div>
      </div>


      <div id="why" class="collapse <%= @lesson.nil? ? "in" : (@lesson.module_name == "why" ? "in" : "") %> ">
        <% @why_lessons.reverse.each do |lesson| %>

            <div class="text-left position-relative <%= @lesson.nil? ? "lesson-tab" : (@lesson.id == lesson.id ? "div-blue" : "lesson-tab") %> div-relative flexbox">
              <%= link_to "", course_lesson_path(@course.id, lesson.id), class: "lesson-link" %>
              <div class="lesson-text flex-item-image">
                <h6><i class="fa fa-md <%= fontawesome_icon(lesson) %> <%= lesson.sessions.where(:user_id => current_user.id).exists? ? (fontawesome_color(lesson)) : "text-darkgray" %>" aria-hidden="true"></i></h6>
              </div>
              <div class="lesson-text flex-item-lesson-title">
                <h6><%= lesson.title %></h6>
              </div>
              <div class="lesson-text flex-item-time text-lightgray">
                <h6 class="body-gray"><%= lesson.minutes %> mins</h6>
              </div>

            </div>

        <% end %>
      </div>


      <!-- WHAT MODULE -->
      <div class="text-left module-pending flexbox" data-toggle="collapse" data-target="#what">
        <div class="lesson-text flex-item-title">
          <h5><strong>WHAT </strong></h5>
        </div>
        <div class="flex-item-week">

        </div>
        <div class="flex-item-complete lesson-missed">
          <h6>Missed</h6>
        </div>
      </div>


      <div id="what" class="collapse <%= @lesson.nil? ? "in" : (@lesson.module_name == "what" ? "in" : "") %> ">

        <% @what_lessons.reverse.each do |lesson| %>

           <div class="text-left position-relative <%= @lesson.nil? ? "lesson-tab" : (@lesson.id == lesson.id ? "div-blue" : "lesson-tab") %> div-relative flexbox">
              <%= link_to "", course_lesson_path(@course.id, lesson.id), class: "lesson-link" %>
              <div class="lesson-text flex-item-image">

                <h6><i class="fa fa-md <%= fontawesome_icon(lesson) %> <%= lesson.sessions.where(:user_id => current_user.id).exists? ? (fontawesome_color(lesson)) : "text-darkgray" %>" aria-hidden="true"></i></h6>

              </div>
              <div class="lesson-text flex-item-lesson-title">
                <h6><%= lesson.title %></h6>
              </div>
              <div class="lesson-text flex-item-time text-ongoing">
                <h6 class="body-gray"><%= lesson.minutes %> mins</h6>
              </div>

            </div>

        <% end %>
      </div>

      <!-- HOW MODULE -->
      <div class="text-left module-pending flexbox" data-toggle="collapse" data-target="#how">
        <div class="lesson-text flex-item-title text-white">
          <h5><strong>HOW </strong></h5>
        </div>
        <div class="flex-item-week">
          <h6></h6>
        </div>
        <div class="flex-item-complete lesson-ongoing">
          <h6> (week 3-8)</h6>
        </div>
      </div>

      <div id="how" class="collapse <%= @lesson.nil? ? "in" : (@lesson.module_name == "how" ? "in" : "") %> ">
        <% @how_lessons.reverse.each do |lesson| %>


            <div class="text-left position-relative <%= @lesson.nil? ? "lesson-tab" : (@lesson.id == lesson.id ? "div-blue" : "lesson-tab") %> div-relative flexbox">
              <%= link_to "", course_lesson_path(@course.id, lesson.id), class: "lesson-link" %>
              <div class="lesson-text flex-item-image">
                <h6><i class="fa fa-md <%= fontawesome_icon(lesson) %> <%= lesson.sessions.where(:user_id => current_user.id).exists? ? (fontawesome_color(lesson)) : "text-darkgray" %>" aria-hidden="true"></i></h6>
              </div>
              <div class="lesson-text flex-item-lesson-title">
                <h6><%= lesson.title %></h6>
              </div>
              <div class="lesson-text flex-item-time text-lightgray">
                <h6 class="body-gray"><%= lesson.minutes %> mins</h6>
              </div>

            </div>
        <% end %>
      </div>


      <!-- TOP 10 LEARNERS -->
      <div>
        <div class="text-left rank-flexbox">
          <div class="lesson-text flex-item-score">
            <h5><strong>Top 10 Learners</strong></h5>
          </div>
        </div>
      </div>

      <div id="how" class=" ">
        <% 5.times do %>
        <div class="text-left position-relative lesson-tab div-relative flexbox">
          <div class="lesson-text flex-item-image">
            <h6>1</h6>
          </div>
          <div class="lesson-text flex-item-lesson-title">
            <h6> name </h6>
          </div>
          <div class="lesson-text flex-item-time text-lightgray">
            <h6 class="body-gray">100</h6>
          </div>
        </div>
        <% end %>
      </div>


      <!-- PROFESSOR CHAT -->
      <div class="text-left module-chatbot flexbox" data-toggle="collapse" data-target="#professor">
        <div class="lesson-text flex-item-title text-white">
          <h5><i class="fa fa-md fa-android" aria-hidden="true"></i><strong> Techno Terry</strong></h5>
        </div>
      </div>

      <div id="professor" class="collapse in parent-relative">

        <iframe src="https://api.motion.ai/webchat/67253?color=62a8ea&sendBtn=SEND&inputBox=Type%20something...&token=966fad4dec093993a7e3a249eb397d0b" width="280" height="600" class="child-tobecovered"></iframe>

        <div class="background-white child-absolute text-center">
          <p> </p>
        </div>
      </div>

    </div>
  </div>

<!-- AI ChatBot -->
  <script src="https://api.motion.ai/sdk/webchat.js"></script>



