
<div class="">

  <!-- Lessons Sidebar -->
  <div id="mySidenav" class="sidenav top-margin">
    <%= render :partial => 'lessons/sidebar' %>
  </div>

  <div id="main" class="">
    <!-- This is the button to open the sidenav -->
    <!-- the button to close is on the _sidebar.html.erb file -->
    <span class="fixed-sidemenu top-margin" onclick="openNav()">&#9776<div class="text-right div-relative flexbox">
    </div></span>

      <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
      <!-- Lesson Content -->
      <div id="lesson-content">

        <!-- Lesson Title and Score -->
        <div class="flexbox">
          <div class="text-left flex-item-lesson-show-title">
            <p class=""><%= @lesson.title %></p>
          </div>

          <div class="text-right flex-item-grow bottom-border">
            <p class="">本节得分：5/5</p>
          </div>
        </div>

        <!-- Lesson Text -->
        <div class="">
          <%= raw(@lesson.text) %>
        </div>

        <!-- Quiz -->
        <span>session: </span>
        <%= @session %>
        <span>session ID: </span>
        <%= @session.id %>
        <span>current session: </span>
        <%= @current_session.last.created_at %>  <%= @current_session.last.id %>
        <%= raw(@question1.question) %>




        <div class="padded">
          <%= simple_form_for [@course, @lesson, @quiz] do |f| %>

            <!-- question 1 -->
            <%= raw(@question1.question) %>
            <% @options1 = [@question1.option_a, @question1.option_b, @question1.option_c, @question1.option_d] %>
            <%= f.input :answer_a, collection: @options1, as: :radio_buttons %>

            <!-- question 2 -->
            <%= raw(@question2.question) %>
            <% @options2 = [@question2.option_a, @question2.option_b, @question2.option_c, @question2.option_d] %>
            <%= f.input :answer_b, collection: @options2, as: :radio_buttons %>

          <%= f.submit "Submit", class: "btn btn-primary" %>

          <% end %>
        </div>





<!--    <h4 class="text-center"><#%= @lesson.description %></h4>
 -->
<!--    <div class="text-center">
          <#% if @lesson.video? %>
            <#%= @lesson.video.html_safe %>
          <#% end %>
        </div>
 -->

<!--
        <%= image_tag "handsnotext.jpg", class: "img-full-width img-padded"%>

<p>Through the design, the production of economical simple 3D printing machinery prosthetics, and open source and dissemination of this technology, the wing plan hopes to help millions of children with physical disability in China.</p>


        <pre class="section-margin">
          <span class="attribute" style="font-size: 36px;">J(θ)=Cm∑i=1y(i) cost1(θTx(i))+(1−y(i)) cost0(θTx(i))+12n∑j=1Θ2j:</span>


          <span class="selector">code</span> {
            <span class="attribute">padding</span>: <span class="number">2</span>px <span class="number">4</span>px;
            <span class="attribute">vertical-align</span>: text-bottom;
          }

          <span class="selector">pre</span> {
            <span class="attribute">padding</span>: <span class="number">1</span>em;
          }</pre>

<p>Through the design, the production of economical simple 3D printing machinery prosthetics, and open source and dissemination of this technology, the wing plan hopes to help millions of children with physical disability in China.</p> -->


        <!-- Lesson Complete Button -->
        <div class="section-margin hidden-xs">
        <% if @current_session.exists? %>

            <div class="row">
              <div class="col-xs-6">
              <%= simple_form_for [@course, @lesson, @session] do |f| %>
                <%= f.button :submit, 'Done with this Lesson! :)', disabled: "disabled", class: 'btn btn-success text-center' %>
              <% end %>
              </div>

              <!-- removes 'next lesson' button if lesson is last lesson of course -->
              <% unless @course.lessons.last.id == @lesson.id %>
                <div class="col-xs-6 text-right">
                <%= link_to "Next Lesson: #{Lesson.find(@lesson.id + 1).title}", course_lesson_path(@course.id, @lesson.id + 1), class: "btn btn-primary text-center" %>
                </div>
              <% end %>
            </div>

          <% else %>

            <div class="row">
              <div class="col-xs-6">
              <%= simple_form_for [@course, @lesson, @session] do |f| %>
              <%= f.button :submit, 'Just Finished the Lesson', class: 'btn btn-success text-center' %>
            <% end %>
              </div>

              <!-- removes 'next lesson' button if lesson is last lesson of course -->
              <% unless @course.lessons.last.id == @lesson.id %>
                <div class="col-xs-6 text-right">
                <%= link_to "Next Lesson: #{Lesson.find(@lesson.id + 1).title}", course_lesson_path(@course.id, @lesson.id + 1), class: "btn btn-primary text-center" %>
                </div>
              <% end %>
            </div>

          <% end %>
        </div>

        <!-- mobile button -->
        <div class="section-margin visible-xs">
        <% if @current_session.exists? %>
            <div class="row">
              <div class="col-xs-6">
              <%= simple_form_for [@course, @lesson, @session] do |f| %>
                <%= f.button :submit, 'Done with this Lesson! :)', disabled: "disabled", class: 'btn btn-success text-center' %>
              <% end %>
              </div>
              <div class="col-xs-6 text-right">

              <%= link_to "Next Lesson", course_lesson_path(@course.id, @lesson.id + 1), class: "btn btn-primary text-center" %>

              <!-- mobile button -->
              </div>
            </div>
          <% else %>
            <div class="row">
              <div class="col-xs-6">
              <%= simple_form_for [@course, @lesson, @session] do |f| %>
              <%= f.button :submit, 'Lesson Finished', class: 'btn btn-success text-center' %>
            <% end %>
              </div>
              <div class="col-xs-6 text-right">

              <%= link_to "Next Lesson", course_lesson_path(@course.id, @lesson.id + 1), class: "btn btn-primary text-center" %>
              </div>
            </div>


          <% end %>
        </div>

      </div>




</div>
