
<div class="">

  <!-- Lessons Sidebar -->
  <div id="mySidenav" class="sidenav top-margin">
    <%= render :partial => 'lessons/sidebar' %>
  </div>

  <div id="main" class="">
    <!-- This is the button to open the sidenav -->
    <!-- the button to close is on the _sidebar.html.erb file -->
    <span class="fixed-sidemenu top-margin" onclick="openNav()">&#9776<div class="text-right div-relative flexbox">
    </div></span>

      <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
      <!-- Lesson Content -->
      <div id="lesson-content">

        <!-- Lesson Title and Score -->
        <div class="flexbox">
          <div class="text-left flex-item-lesson-show-title">
            <p class=""><%= @lesson.title %></p>
          </div>

          <div class="text-right flex-item-grow bottom-border">
            <p class="">本节得分：5/5</p>
          </div>
        </div>

        <!-- Lesson Text -->
        <div class="">
          <%= raw(@lesson.text) %>
        </div>

        <br>
        <br>
        <!-- Info -->
        <p>course: <%= @course.id %></p>
        <p>lesson: <%= @lesson.id %> </p>
        <p>last quiz: <%= @quiz %></p>
        <p>session: </p>
        <br>
        <br>

        <!-- 'Take Quiz' Button -->
        <% if @lesson.lesson_type == "quiz" %>
          <p>there are 5 quiz in total, there are 3 chances to take the quizz, we will take the highest score among them</p>

          <% if @attempts == 1 %>
          <p>this is the 1st time you're taking the quizz, the current high score is: <%= @highscore %> </p>
            <%= simple_form_for [@course, @lesson, @quiz] do |f| %>
              <%= f.button :submit, 'Take Quiz for 1st time', class: 'btn btn-warning text-center' %>
            <% end %>
          <% elsif @attempts == 2 %>
            <%= simple_form_for [@course, @lesson, @quiz] do |f| %>
              <%= f.button :submit, 'Retake Quiz 2nd time', class: 'btn btn-warning text-center' %>
            <% end %>

            <% first_quiz = Quiz.where(:session_id => @current_session.id).first %>
            <%= link_to "Review your 1st quiz", course_lesson_quiz_path(@course.id, @lesson.id, first_quiz), class: "btn btn-primary text-center" %>

          <% elsif @attempts == 3 %>
            <%= simple_form_for [@course, @lesson, @quiz] do |f| %>
              <%= f.button :submit, 'Retake Quiz 3rd time', class: 'btn btn-warning text-center' %>
            <% end %>

            <% first_quiz = Quiz.where(:session_id => @current_session.id).first %>
            <%= link_to "Review your 1st quiz", course_lesson_quiz_path(@course.id, @lesson.id, first_quiz), class: "btn btn-primary text-center" %>

            <% second_quiz = Quiz.where(:session_id => @current_session.id).where(:attempt => 2).first.id %>
            <%= link_to "Review your 2nd quiz", course_lesson_quiz_path(@course.id, @lesson.id, second_quiz), class: "btn btn-primary text-center" %>

          <% else %>
            <p>You've already attempted the quiz 3 times</p>

            <% first_quiz = Quiz.where(:session_id => @current_session.id).where(:attempt => 1).first.id %>
            <%= link_to "Review your 1st quiz", course_lesson_quiz_path(@course.id, @lesson.id, first_quiz), class: "btn btn-primary text-center" %>

            <% second_quiz = Quiz.where(:session_id => @current_session.id).where(:attempt => 2).first.id %>
            <%= link_to "Review your 2nd quiz", course_lesson_quiz_path(@course.id, @lesson.id, second_quiz), class: "btn btn-primary text-center" %>

            <% second_quiz = Quiz.where(:session_id => @current_session.id).where(:attempt => 3).first.id %>
            <%= link_to "Review your 2nd quiz", course_lesson_quiz_path(@course.id, @lesson.id, second_quiz), class: "btn btn-primary text-center" %>
          <% end %>

        <% end %>

        <!-- <h4 class="text-center"><#%= @lesson.description %></h4> -->
        <!-- <div class="text-center">
          <#% if @lesson.video? %>
            <#%= @lesson.video.html_safe %>
          <#% end %>
        </div> -->

        <!-- Lesson Complete Button -->
        <div class="section-margin hidden-xs">
        <% unless @current_session.nil? %>
          <% if @current_session.id.nil? %>

            <div class="row">
              <div class="col-xs-6">
                <%= simple_form_for [@course, @lesson, @session] do |f| %>
                  <%= f.button :submit, 'Just Finished the Lesson', class: 'btn btn-success text-center' %>
                <% end %>
              </div>

              <!-- removes 'next lesson' button if lesson is last lesson of course -->
              <% unless @course.lessons.last.id == @lesson.id %>
                <div class="col-xs-6 text-right">
                <%= link_to "Next Lesson: #{Lesson.find(@lesson.id + 1).title}", course_lesson_path(@course.id, @lesson.id + 1), class: "btn btn-primary text-center" %>
                </div>
              <% end %>
            </div>

          <% else %>

            <div class="row">
              <div class="col-xs-6">
              <%= simple_form_for [@course, @lesson, @session] do |f| %>
                <%= f.button :submit, 'Done with this Lesson! :)', disabled: "disabled", class: 'btn btn-success text-center' %>
              <% end %>
              </div>

              <!-- removes 'next lesson' button if lesson is last lesson of course -->
              <% unless @course.lessons.last.id == @lesson.id %>
                <div class="col-xs-6 text-right">
                <%= link_to "Next Lesson: #{Lesson.find(@lesson.id + 1).title}", course_lesson_path(@course.id, @lesson.id + 1), class: "btn btn-primary text-center" %>
                </div>
              <% end %>
            </div>

          <% end %>
        <% end %>
        </div>

        <!-- mobile button -->
        <div class="section-margin visible-xs">
        <% unless @current_session.nil? %>
          <% if @current_session.id.nil? %>
              <div class="row">
                <div class="col-xs-6">
                <%= simple_form_for [@course, @lesson, @session] do |f| %>
                  <%= f.button :submit, 'Lesson Finished', class: 'btn btn-success text-center' %>
                <% end %>
                </div>
                <div class="col-xs-6 text-right">
                <%= link_to "Next Lesson", course_lesson_path(@course.id, @lesson.id + 1), class: "btn btn-primary text-center" %>
                </div>
              </div>
          <% else %>
            <div class="row">
                <div class="col-xs-6">
                <%= simple_form_for [@course, @lesson, @session] do |f| %>
                  <%= f.button :submit, 'Done with this Lesson! :)', disabled: "disabled", class: 'btn btn-success text-center' %>
                <% end %>
                </div>
                <div class="col-xs-6 text-right">

                <%= link_to "Next Lesson", course_lesson_path(@course.id, @lesson.id + 1), class: "btn btn-primary text-center" %>

                <!-- mobile button -->
                </div>
              </div>

            <% end %>
          <% end %>
        </div>

      </div>




</div>
