<div class="">

  <!-- Lessons Sidebar -->
  <div id="mySidenav" class="sidenav ">
    <%= render :partial => 'lessons/sidebar' %>
  </div>


  <!-- Profile picture and dropdown -->
  <div class="dropdown lesson-avatar img-circle">

    <% if current_user.photo? %>
      <%= cl_image_tag current_user.photo.path, height: 50, width: 50, class: "img-circle", crop: :thumb, gravity: :face, "data-toggle" => "dropdown" %>
    <% else %>
      <%= image_tag "avatar_placeholder.png", class: "avatar-large dropdown-toggle", id: "navbar-techforgood-menu", "data-toggle" => "dropdown" %>
    <% end %>


    <ul class="dropdown-menu dropdown-menu-right navbar-techforgood-dropdown-menu">
      <li>
        <%= link_to dashboard_users_path do %>
          <i class="fa fa-side-padding fa-user"></i> <%= t(".profile", default: "Profile") %>
        <% end %>
      </li>
      <li>
        <%= link_to courses_path do %>
          <i class="fa fa-side-padding fa-graduation-cap"></i> <%= t(".profile", default: "Browse Courses") %>
        <% end %>
      </li>
      <li>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fa fa-side-padding fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
        <% end %>
      </li>
    </ul>
  </div>


  <!-- This is the button to open the sidenav -->
  <!-- the button to close is on the _sidebar.html.erb file -->






  <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
  <div id="main">


  <span class="fixed-sidemenu" onclick="openNav()">&#9776<div class="text-right div-relative flexbox">
  </div></span>

  <!-- Lesson Content -->


      <div id="lesson-content">
      <div class="row">
        <div class="col-xs-12 text-center "><em><p class="">Lesson <%= @lesson.id %></p></em><h1 class="fredoka"><strong><%= @lesson.title %></strong></h1>
        </div>

      </div>
        <h4 class="text-center"><%= @lesson.description %></h4>

        <div class="text-center">
          <% if @lesson.video? %>
            <%= @lesson.video.html_safe %>
          <% end %>
        </div>
        <p><%= @lesson.text %></p>


        <%= image_tag "handsnotext.jpg", class: "img-full-width img-padded"%>

<p>Through the design, the production of economical simple 3D printing machinery prosthetics, and open source and dissemination of this technology, the wing plan hopes to help millions of children with physical disability in China.</p>


        <pre class="section-margin">
          <span class="attribute" style="font-size: 36px;">J(θ)=Cm∑i=1y(i) cost1(θTx(i))+(1−y(i)) cost0(θTx(i))+12n∑j=1Θ2j:</span>


          <span class="selector">code</span> {
            <span class="attribute">padding</span>: <span class="number">2</span>px <span class="number">4</span>px;
            <span class="attribute">vertical-align</span>: text-bottom;
          }

          <span class="selector">pre</span> {
            <span class="attribute">padding</span>: <span class="number">1</span>em;
          }</pre>

<p>Through the design, the production of economical simple 3D printing machinery prosthetics, and open source and dissemination of this technology, the wing plan hopes to help millions of children with physical disability in China.</p>


        <!-- Lesson Complete Button -->
        <div class="section-margin hidden-xs">
        <% if @current_session.exists? %>
            <div class="row">
              <div class="col-xs-6">
              <%= simple_form_for [@course, @lesson, @session] do |f| %>
                <%= f.button :submit, 'Done with this Lesson! :)', disabled: "disabled", class: 'btn btn-success text-center' %>
              <% end %>
                <!-- Popup -->
                <div data-aos="zoom-in-up">
                  <p>Congrtulations! You have finished this lesson. </p>
                </div>
              </div>

              <% unless @course.lessons.last.id == @lesson.id %>


                <div class="col-xs-6 text-right">

                <%= link_to "Next Lesson: #{Lesson.find(@lesson.id + 1).title}", course_lesson_path(@course.id, @lesson.id + 1), class: "btn btn-primary text-center" %>

                <!-- mobile button -->
                </div>

              <% end %>

            </div>
          <% else %>
            <div class="row">
              <div class="col-xs-6">
              <%= simple_form_for [@course, @lesson, @session] do |f| %>
              <%= f.button :submit, 'Just Finished the Lesson', class: 'btn btn-success text-center' %>
            <% end %>
              </div>

              <% unless @course.lessons.last.id == @lesson.id %>


                <div class="col-xs-6 text-right">

                <%= link_to "Next Lesson: #{Lesson.find(@lesson.id + 1).title}", course_lesson_path(@course.id, @lesson.id + 1), class: "btn btn-primary text-center" %>
                </div>

              <% end %>
            </div>


          <% end %>
        </div>

        <!-- mobile button -->
        <div class="section-margin visible-xs">
        <% if @current_session.exists? %>
            <div class="row">

              <div class="col-xs-6">
                <%= simple_form_for [@course, @lesson, @session] do |f| %>
                <%= f.button :submit, 'Done with this Lesson! :)', disabled: "disabled", class: 'btn btn-success text-center' %>
              <% end %>
              </div>

              <div class="col-xs-6 text-right">

              <%= link_to "Next Lesson", course_lesson_path(@course.id, @lesson.id + 1), class: "btn btn-primary text-center" %>

              <!-- mobile button -->
              </div>
            </div>
          <% else %>
            <div class="row">
              <div class="col-xs-6">
              <%= simple_form_for [@course, @lesson, @session] do |f| %>
              <%= f.button :submit, 'Lesson Finished', class: 'btn btn-success text-center' %>
            <% end %>
              </div>
              <div class="col-xs-6 text-right">
                <%= link_to "Next Lesson", course_lesson_path(@course.id, @lesson.id + 1), class: "btn btn-primary text-center" %>
              </div>
            </div>


          <% end %>
        </div>

      </div>




</div>
