<!-- Banner -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path('homepage_banner.png') %>);">
  <div class="banner-content">
    <h1>TechForGood</h1>
    <p>Learn & Lend a Hand</p>
  </div>
</div>

<!-- Characteristics -->
<div class="container text-center padded">
  <div class="row">
    <div class="col-sm-4">
      <%= image_tag "char1.png"%>
      <h4>Search through a wide variety of bands</h4>
    </div>
    <div class="col-sm-4">
      <%= image_tag "char2.png"%>
      <h4>Book the perfect band</h4>
    </div>
    <div class="col-sm-4">
      <%= image_tag "char3.png"%>
      <h4>Get your grip on</h4>
    </div>
  </div>
</div>

<!-- Courses -->
<div class="container padded">
  <div class="row">
    <h3 align="center">Courses</h3>
    <br>

    <% @courses.each do |course| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="course-card">
         <div class="course-card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path('banner.jpg') %>);"></div>
            <div class="course-card-description">
              <h2><%= course.title %></h2>
              <p><%= course.organization.name %></p>
              <div class="org-logos">

              </div>
            </div>
            <%= link_to "", course_path(course), class: "course-card-link" %>
        </div>
      </div>
    <% end %>

  </div>
</div>

<!-- Learning Process -->
<div class="container course-cards padded">
  <div class="row">
  <h3 align="center">Learning Process</h3>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card learning-process-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path('boy.jpg') %>);">
        <div class="card-description">
          <h2>step 1</h2>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card learning-process-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path('boy.jpg') %>);">
        <div class="card-description">
          <h2>step 2</h2>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card learning-process-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path('boy.jpg') %>);">
        <div class="card-description">
          <h2>step 3</h2>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card learning-process-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path('boy.jpg') %>);">
        <div class="card-description">
          <h2>step 4</h2>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card learning-process-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path('boy.jpg') %>);">
        <div class="card-description">
          <h2>step 5</h2>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card learning-process-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path('boy.jpg') %>);">
        <div class="card-description">
          <h2>step 6</h2>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- FAQ -->
<div class="container faq-section padded">
  <h3 class="text-center">FAQ</h3>
  <h4>1. Do you only help children?</h4>
  <p>Our current Cyborg Beast is designed primarily for children, so it will be more targeted to help 3-14 year old children and adolescents. Prostheses also apply to adults, we are also developing more realistic appearance, but also the synthesis of human prosthetic products (such as Flexy Hand).</p><br>

  <h4>2. What can you do with this limb? What is the practical help for the children?</h4>
  <p>Our mechanical prosthesis is mainly achieved by grasping function. 3D printing machine Yisheng as a hand aids, not to fully realize the function of the real hand. But for the hand of the disabled children, the meaning of our prosthesis is mainly reflected in: <br><br>
  Life in the scene with the hands of the activities<br>
  Exercise the limb hand muscle, promote normal development<br>
  The "hands with the use of" into a not so frustrating learning process, reduce the hands can not cope with the anxiety, contribute to mental health growth.</p><br>

  <h4>3. What is the difference between your righteousness and other prostheses on the market?</h4>
  <p>The market has been prosthetic products from the cost of appearance, function, weight, etc. are not applicable to children, we do the 3D printing machine prosthesis:<br><br>
  The main components of 3D printing, low production costs<br>
  Mechanical transmission ﹑ easy loading and unloading replacement<br>
  You can achieve the basic grip function<br>
  Production is simple, for Jintong people do not exist production threshold, suitable for a wide range of popular</p>
</div>
