<!-- Navbar -->
<div class="navbar-fixed-top">
  <div id="navbar" class="navbar-techforgood">
    <!-- Logo -->
    <a href="#top" class="page-scroll">
      <%= link_to root_path, class: "navbar-techforgood-brand" do %>
        <%= image_tag "techforgood logo.png" %>
      <% end %>
    </a>

    <!-- Right Navigation -->
    <div id="nav" class="navbar-techforgood-right hidden-xs hidden-sm">

<!--       <a href="#how_does_it_work" class="navbar-techforgood-item navbar-techforgood-link page-scroll"><span>How does it work?</span></a>

      <a href="#courses" class="navbar-techforgood-item navbar-techforgood-link page-scroll"><span>Courses</span></a>

      <a href="#faq" class="navbar-techforgood-item navbar-techforgood-link page-scroll"><span>FAQ</span></a>
 -->

      <!-- Different navigation if login or not -->
      <% if user_signed_in? %>

        <!-- Profile picture and dropdown -->
        <div class="navbar-techforgood-item">
          <div class="dropdown">
            <% if current_user.photo? %>
              <%= cl_image_tag current_user.photo.path, height: 50, width: 50, class: "img-circle", crop: :thumb, gravity: :face, "data-toggle" => "dropdown" %>
            <% else %>
              <%= image_tag "avatar_placeholder.png", class: "avatar-large dropdown-toggle", id: "navbar-techforgood-menu", "data-toggle" => "dropdown" %>
            <% end %>
            <ul class="dropdown-menu dropdown-menu-right navbar-techforgood-dropdown-menu">
              <li>
                <%= link_to dashboard_users_path do %>
                  <i class="fa fa-user fa-fw text-blue7"></i> <%= t(".profile", default: "Dashboard") %>
                <% end %>
              </li>

              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fa fa-sign-out fa-fw text-blue7"></i>  <%= t(".sign_out", default: "Log out") %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>

      <% else %>

        <!-- Login text link -->
      <%#= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-techforgood-item navbar-techforgood-link" %>

        <%= link_to t(".sign_in", default: "登陆"), new_user_session_path, class: "btn btn-sm btn-primary login-button" %>

        <%= link_to t(".sign_up", default: "注册"), new_user_session_path, class: "btn btn-sm btn-primary register-button" %>

      <% end %>
    </div>

    <!-- Dropdown list appearing on mobile only -->
    <% if user_signed_in? %>
      <div class="navbar-techforgood-item hidden-md hidden-lg">
        <div class="dropdown">
          <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-techforgood-dropdown-menu">
            <li>
              <%= link_to dashboard_users_path do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Dashboard") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
<!--
    <div class="navbar-techforgood-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-techforgood-dropdown-menu">

          <li>
            <a href="#steps" class="navbar-techforgood-item navbar-techforgood-link page-scroll"><span>How does it work?</span></a>
          </li>
          <li>
            <a href="#courses" class="navbar-techforgood-item navbar-techforgood-link page-scroll"><span>Courses</span></a>
          </li>
          <li>
            <a href="#faq" class="navbar-techforgood-item navbar-techforgood-link page-scroll"><span>FAQ</span></a>
          </li>
        </ul>
      </div>
    </div> -->
  </div>
</div>


<!-- Banner -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,101,168,0.3) 50%), url(<%= image_path('homepage_banner.png') %>);">
  <div class="text-50px">
    <h1>学习创新技术<br>为你的社区创造积极影响力</h1>
    <a class="btn btn-lg btn-primary homepage-btn" href="#courses" role="button ">开始学习</a>
  </div>
</div>


<!-- Characteristics -->
<div class="wrapper" id="steps">
  <div class="padded text-center characteristics">
    <div class="row">

      <div>
        <h2 style="color: #797979;">聚焦在产生积极社会影响力的STEAM教育<br>学习如何通过技术帮助自己身边的社区</h2>
      </div>

      <div class="padded">
        <div class="col-sm-4" >
          <%= image_tag "info1.png", class: ""%>
          <h4>在线学习系统<br>摆脱时间与地点的限制</h4>
        </div>
        <div class="col-sm-4"  >
          <%= image_tag "info2.png", class: ""%>
          <h4>知名企业，大学，NGO共同开发课程<br>提供专业权威的课程认证</h4>
        </div>
        <div class="col-sm-4" >
          <%= image_tag "info3.png", class: ""%>
          <h4>导师全程监督与辅导<br>在互助的学习社区里共同进步</h4>
        </div>
        <div class="col-sm-4 second-row" >
          <%= image_tag "info4.png", class: ""%>
          <h4>了解具体技术方案在社会创新<br>中的应用案例</h4>
        </div>
        <div class="col-sm-4 second-row"  >
          <%= image_tag "info5.png", class: ""%>
          <h4>亲自动手实践具体解决方案</h4>
        </div>
        <div class="col-sm-4 second-row" >
          <%= image_tag "info6.png", class: ""%>
          <h4>学以致用，用创新科技帮助<br>自己身边的社区</h4>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Courses -->
<div class="padded row text-smooth" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%), url(/assets/user_dashboard_banner-d234d87f9b7112f19b26c3f39617985cc2bb099b519f69a856ecb9ecc58d1163.png);">
  <div class="text-center " id="courses">
    <h3 class="courses-heading">推荐课程</h3>
  </div>


<!--     <h3><span class="row">Courses developed with:
      <%= image_tag "microsoft_sd.png", class: "img-height-30"%>
      <%= image_tag "JohnsonandJohnson.jpg", class: "img-height-30"%>
      <%= image_tag "stratasys_sd.png", class: "img-height-30"%>
    </span></h3> -->


<div class="container" id="courses">

  <div class="row">
    <br>

    <% @courses.each do |course| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="course-card">

            <% if course.photos? %>
              <% course_photo_path = course.photos.first.path %>
              <% course_company_logo = course.photos.last.path %>
            <% else %>
              <% course_photo_path = ('madi-robson-113926_wqpmaf') %>
              <% course_photo_path = ('madi-robson-113926_wqpmaf') %>
            <% end %>

            <div class="course-card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),

            url('<%= cl_image_path course_photo_path %>');">

            </div>

          <div class="course-card-description">
            <!-- <h2 class="course-card-mission text-left"></h2> -->
            <div class="height-80 text-reading-gray text-smooth">
              <h4>
                <%= course.tagline %>
              </h4>
            </div>
            <div>
              <div class="flexbox">
                <p class="tag-flex text-reading-gray"><i class="fa fa-tag text-blue7"></i><em> <%= course.title %></em></p>
                <%= cl_image_tag course_company_logo, height: '20px' %>
              </div>
            </div>
          </div>
          <% if course.id == 1 %>
          <%= link_to "", course_path(course), class: "course-card-link" %>
          <% else %>
          <%= link_to "", course_path(course), class: "upcoming-course-card-link"%>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>
</div>

</div>

<!-- Learning Process -->
<div class="padded">
  <h2 class="text-center" style="color: #797979;">给心怀天下的梦想家配备技能<br>为脚踏实地的践行者赋予情怀</h2>
</div>

<div class="wrapper-learning-process parallax-homepage" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path('workshop_image.png') %>);"" id="how_does_it_work">
  <div class="text-center">
    <div class="parallax-logo">
      <%= image_tag "logo_white.png"%>
    </div>
    <div class="parallax-text text-50px">
      <h3>Tech for good 与展翼计划合作的3D打印机械义肢课程在2017年培训了超过100名来自全国20多所高中的学生，制作并寄送出义肢17例给手掌残疾的儿童</h3>
    </div>
  </div>
</div>

<!-- FAQ -->
<!-- <div class="container faq-section padded width-1000" id="faq">
  <h3 class="text-center fredoka text-blue7">FAQ</h3>
  <h4><em>Will I be paired up with people in need?</em></h4>
  <p class="text-reading-gray">As we expand our network of NGO partners, we hope for each course to be paired with real world use cases.</p><br>

  <h4><em>How can my company offer our tech?</em></h4>
  <p class="text-reading-gray">It'd be great to speak further!  Please email us at contact@learnforgood.cn</p><br>

  <h4><em>Can my company take courses as a group?</em></h4>
  <p class="text-reading-gray">We'd love to talk to you and see how we can cooperate. We could run workshops for your employees, or actually train your company to provide workshops to the local community.</p><br>

  <h4><em>What's the cost of the courses?</em></h4>
  <p class="text-reading-gray">The course fee is still being decided, but will be only used to run our operations, as we are an NGO ourselves.</p><br>

</div>

<div class="text-center padded background_gray">
  <a href="#courses" class="fancy-button text-center bg-gradient1 page-scroll">
    <span class="fredoka">Enroll Today</span>
  </a>
</div> -->
