<<<<<<< Updated upstream
banner
features
cards - links to individual courses
flowchart - links to enroll?
FAQs

=======
<!-- flowchart - links to enroll?
FAQs -->


<!-- Banner -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path('banner.jpeg') %>);">
  <div class="banner-content">
    <h1>TechForGood</h1>
    <p>Learn & Lend a Hand</p>
  </div>
</div>

<!-- Characteristics -->
  <div class="container how_to_section text-center padded">
    <div class="row">
      <div class="col-sm-4">
        <%= image_tag "char1.png" %>
        <h4>Search through a wide variety of bands</h4>
      </div>
      <div class="col-sm-4">
        <%= image_tag "char2.png" %>
        <h4>Book the perfect band</h4>
      </div>
      <div class="col-sm-4">
        <%= image_tag "char3.png" %>
        <h4>Book the perfect band</h4>
      </div>
    </div>
  </div>

<!-- Courses -->
>>>>>>> Stashed changes
<div class="wrapper padded">
  <div class="course-cards">
    <div class="container">
      <div class="row">
        <h3 align="center">Our courses</h3>
        <br>

        <% @courses.each do |course| %>

          <% if course.photos? %>
            <% card_photo_path = course.photos.first.path %>
          <% else %>
            <% card_photo_path = ('banner.jpeg') %>
          <% end %>

          <div class="col-xs-12 col-sm-6 col-md-4">
           <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path card_photo_path %>');">
              <div class="card-description">
                <h2><%= course.name %></h2>
              </div>
              <%= link_to "", course_path(course), class: "card-link" %>
            </div>
          </div>
        <% end %>
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
      </div>
    </div>
  </div>
</div>
