<div class="navbar-fixed-top">
  <div class="container">

    </div>
    <div id="navbar" class="navbar-techforgood">
      <!-- Logo -->

      <a href="#top" class="navbar-techforgood-brand page-scroll">
        <i class="fa fa-graduation-cap"></i>
      </a>

      <!-- We can use this to add the logo image when we have a proper one -->
      <%#= link_to root_path, class: "navbar-techforgood-brand" do %>
        <%#= image_tag "handson-logo.png" %>
      <%# end %>

      <!-- Right Navigation -->
      <div id="nav" class="navbar-techforgood-right hidden-xs hidden-sm">

        <a href="#how_does_it_work" class="navbar-techforgood-item navbar-techforgood-link page-scroll"><span>How does it work?</span></a>
        <!-- <a href="#tuition" class="navbar-techforgood-item navbar-techforgood-link page-scroll"><span>Tuition</span></a> -->
        <a href="#courses" class="navbar-techforgood-item navbar-techforgood-link page-scroll"><span>Courses</span></a>

        <a href="#faq" class="navbar-techforgood-item navbar-techforgood-link page-scroll"><span>FAQ</span></a>


        <!-- Different navigation if login or not -->
        <% if user_signed_in? %>

          <!-- Profile picture and dropdown -->
          <div class="navbar-techforgood-item">
            <div class="dropdown">
              <% if current_user.photo? %>
                <%= cl_image_tag current_user.photo.path, height: 50, width: 50, class: "img-circle", crop: :thumb, gravity: :face, "data-toggle" => "dropdown" %>
              <% else %>
                <%= image_tag "avatar_placeholder.png", class: "avatar-large dropdown-toggle", id: "navbar-techforgood-menu", "data-toggle" => "dropdown" %>
              <% end %>
              <ul class="dropdown-menu dropdown-menu-right navbar-techforgood-dropdown-menu">
                <li>
                  <%= link_to dashboard_users_path do %>
                    <i class="fa fa-user fa-fw text-blue7"></i> <%= t(".profile", default: "Dashboard") %>
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete do %>
                    <i class="fa fa-sign-out fa-fw text-blue7"></i>  <%= t(".sign_out", default: "Log out") %>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>

        <% else %>

          <!-- Login text link -->
          <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-techforgood-item navbar-techforgood-link" %>

        <% end %>
      </div>

      <!-- Dropdown list appearing on mobile only -->
      <div class="navbar-techforgood-item hidden-md hidden-lg">
        <div class="dropdown">
          <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-techforgood-dropdown-menu">
            <li>
              <%= link_to dashboard_users_path do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
                <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Banner -->
<!-- id="gradient" is to create the moving background -->
<div id="" id="top" class="parallax top-margin" style="background-color: #3498DB;">
  <div class="container text-left text-white padded width-1000 hidden-xs">

    <span class="shape fredoka text-80px">TechForGo</span>

    <span class="menu">
      <i class="fa fa-xl fa-globe globe  menu_label"></i>
      <span class="shape fredoka text-80px photoStyle">o</span>
      <span class="shape fredoka text-80px ">d</span>
    </span>


    <h1 class="fredoka text-type-animation text-60px pvw-title"><span>Learn &amp; Lend a Hand</span></h1>

    <a href="#learnmore" class="fancy-button bg-gradient1 page-scroll">
      <span class="fredoka">Learn More</span>
    </a>

  </div>
  <div class="container text-left text-white padded text-center hidden-sm hidden-md hidden-lg">

    <span class="shape fredoka text-lg ">Tech<br>For<br>Go</span>

    <span class="menu">
      <i class="fa fa-xl fa-globe globe image-spin  menu_label"></i>
      <span class="shape fredoka text-lg  photoStyle">o</span>
      <span class="shape fredoka text-lg  ">d</span>
    </span>

    <h1 class="fredoka"><span>Learn &amp; Lend a Hand</span></h1>

  </div>
  <div id="globe-image" class="row ">
    <div class="col-xs-3 col-sm-6">
    </div>

<!--     <div class="col-xs-6 col-sm-4 text-white text-center">
      <%#= image_tag "globetech.svg", class: "img-full-width"%>
    </div> -->
    <div class="col-xs-3 col-sm-2">
    </div>
  </div>
</div>





<!-- Characteristics -->
<!-- <div class="wrapper" id="steps">
  <div class="container text-center padded characteristics">
    <div class="row">

      <div class="col-sm-4" data-aos="fade-left" >
        <%= image_tag "char1.png", class: "img-double"%>
        <h4>Learn online in your own time</h4>
      </div>
      <div class="col-sm-4" data-aos="fade-left" data-aos-delay="300" >
        <%= image_tag "char2.png", class: "img-double"%>
        <h4>Study courses developed with universities and NGOs</h4>
      </div>
      <div class="col-sm-4" data-aos="fade-left" data-aos-delay="600">
        <%= image_tag "char3.png", class: "img-double"%>
        <h4>Get support from tutors and our online learning community</h4>
      </div>
    </div>
  </div>
</div> -->


<div class="continer">
  <div class="padded text-center">
    <iframe width="960" height="540" src="https://www.youtube.com/embed/QQ3PyZaPfog?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
</div>




<!-- Banner -->
<div id="learnmore" class="banner-why parallax padded" style="background-image: linear-gradient(135deg, rgba(52,152,219,1) 50%, rgba(255,255,255,0.9) 50%), url(<%= image_path('volunteer.jpg') %>);">
  <div class="col-xs-0">
  </div>
  <div class="col-xs-4" data-aos="fade-up" data-aos-delay="0">
    <h2 class="fredoka padding-bottom text-45px text-white">Online courses<br> for anyone wanting to make<br> a difference</h2>
  </div>
  <div class="col-xs-5" data-aos="fade-left">
    <%= image_tag "volunteer.jpg", class: "img-radius-gray img-full-width" %>
  </div>
</div>

<div class="banner-why parallax padded" style="background-image: linear-gradient(-45deg, rgba(52,152,219,1) 50%, rgba(255,255,255,0.9) 50%), url(<%= image_path('why2.png') %>);">
  <div class="col-xs-5" data-aos="fade-down">
    <%= image_tag "why2.png", class: "img-radius-gray img-full-width" %>
  </div>
  <div class="col-xs-0">
  </div>
  <div class="col-xs-4" data-aos="fade-up" data-aos-delay="0">
    <h1 class="fredoka padding-bottom text-45px text-white">learn about new technology, while contributing to a social cause</h1>
  </div>

</div>



<div class="banner-why parallax padded" style="background-image: linear-gradient(135deg, rgba(52,152,219,1) 50%, rgba(255,255,255,0.9) 50%), url(<%= image_path('why3.jpg') %>);">
  <div class="col-xs-0">
  </div>
  <div class="col-xs-4" data-aos="fade-up" data-aos-delay="0">
    <h1 class="fredoka padding-bottom text-45px text-white">Get support from tutors and like-minded classmates</h1>
  </div>
  <div class="col-xs-5" data-aos="fade-left">
    <%= image_tag "why3.jpg", class: "img-radius-gray img-full-width" %>
  </div>
</div>

<div class="banner-why parallax padded" style="background-image: linear-gradient(-45deg, rgba(52,152,219,1) 50%, rgba(255,255,255,0.9) 50%), url(<%= image_path('handsnotext.jpg') %>);">

    <div class="col-xs-5" data-aos="fade-down">
    <%= image_tag "handsnotext.jpg", class: "img-radius-gray img-full-width" %>
  </div>
  <div class="col-xs-0">
  </div>
  <div class="col-xs-4" data-aos="fade-up" data-aos-delay="0">
    <h1 class="fredoka padding-bottom text-45px text-white">Stay connected to those you’ve helped</h1>
  </div>

</div>





<!-- Learning Process -->
<!-- <div class="wrapper-learning-process parallax" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%#= cl_image_path('zi-jian-lim-227847_j6rckn', height: 1082, width: 1624, crop: :lfill) %>);" id="how_does_it_work">
  <div class="container padded">
    <div class="row">
    <!-- <h3 align="center">How does it work?</h3> -->

      <%# @steps.each do |step, icon| %>
<!--       <div class="col-xs-12 col-md-4">
        <div class=" learning-process-card">
          <div class="learning-process-description text-center">
            <h2><#%= step %></h2>
            <h1><i class="fa fa-<#%= icon %>" aria-hidden="true"></i></h1>
          </div>
        </div>
      </div> -->
      <%# end %>

<!--     </div>
  </div>
</div> -->


<!-- Courses -->
<div class="row no-y-padding text-smooth">
  <div class="text-center " id="courses">
    <h3><span class="row">Courses developed with:
      <%= image_tag "microsoft_sd.png", class: "img-height-30"%>
      <%= image_tag "JohnsonandJohnson.jpg", class: "img-height-30"%>
      <%= image_tag "stratasys_sd.png", class: "img-height-30"%>
    </span></h3>
  </div>
</div>


<div class="container " id="courses">

  <div class="row">
    <br>

    <% @courses.each do |course| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="course-card">

            <% if course.photos? %>
              <% course_photo_path = course.photos.first.path %>
            <% else %>
              <% course_photo_path = ('madi-robson-113926_wqpmaf') %>
            <% end %>

            <div class="course-card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),

            url('<%= cl_image_path course_photo_path %>');">

            </div>

          <div class="course-card-description">
            <!-- <h2 class="course-card-mission text-left"></h2> -->

            <h4>
              <%= course.tagline %>
            </h4>
            <div class="flexbox">
              <p class="tag-flex text-reading-gray"><i class="fa fa-tag text-blue7"></i><em> <%= course.title %></em></p>
              <p class="tag-flex text-reading-gray"><%= course.organization.name %></p>
            </div>
            <div class="org-logos"></div>
          </div>
          <%= link_to "", course_path(course), class: "course-card-link" %>
        </div>
      </div>
    <% end %>


  </div>
</div>




<!-- FAQ -->
<div class="container faq-section padded width-1000" id="faq">
  <h3 class="text-center fredoka text-blue7">FAQ</h3>
  <h4><em>Do you only help children?</em></h4>
  <p class="text-reading-gray">Our current Cyborg Beast is designed primarily for children, so it will be more targeted to help 3-14 year old children and adolescents. Prostheses also apply to adults, we are also developing more realistic appearance, but also the synthesis of human prosthetic products (such as Flexy Hand).</p><br>

  <h4><em>What can you do with this limb? What is the practical help for the children?</em></h4>
  <p class="text-reading-gray">Our mechanical prosthesis is mainly achieved by grasping function. 3D printing machine Yisheng as a hand aids, not to fully realize the function of the real hand. But for the hand of the disabled children, the meaning of our prosthesis is mainly reflected in: <br><br>
  Life in the scene with the hands of the activities<br>
  Exercise the limb hand muscle, promote normal development<br>
  The "hands with the use of" into a not so frustrating learning process, reduce the hands can not cope with the anxiety, contribute to mental health growth.</p><br>

  <h4><em>What is the difference between your courses and other prostheses on the market?</em></h4>
  <p class="text-reading-gray">The market has been prosthetic products from the cost of appearance, function, weight, etc. are not applicable to children, we do the 3D printing machine prosthesis:<br><br>
  The main components of 3D printing, low production costs<br>
  Mechanical transmission ﹑ easy loading and unloading replacement<br>
  You can achieve the basic grip function<br>
  Production is simple, for Jintong people do not exist production threshold, suitable for a wide range of popular</p>
</div>

  <div class="text-center padded background_gray">
    <a href="#courses" class="fancy-button text-center bg-gradient1 page-scroll">
      <span class="fredoka">Enroll Today</span>
    </a>
    </div>


<!-- desktop image -->
<!-- <div class="text-center">
  <%#= image_tag "desktop.png", id: "desktop-image"%>
</div> -->
