<!-- Temporary Navbar...original navbar can be found in shared/navbar.html.erb -->
<div class="navbar-fixed-top bottom-shadow">
  <div id="navbar" class="navbar-techforgood flexbox space-around">
    <!-- Logo -->
    <a href="#top" class="page-scroll">
      <%= link_to root_path, class: "navbar-techforgood-brand" do %>
        <%= image_tag "logo_lg.png", height: "55px" %>
      <% end %>
    </a>
  </div>
</div>



<!-- Banner -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,75,162,0.3) 0%, rgba(0,75,162,0.3) 50%), url(<%= image_path('homebanner.jpg') %>);">
  <div class="text-50px">
    <h1 style="font-size: 50px">学习创新技术<br>为你的社区创造积极影响力</h1>
    <a class="btn btn-lg btn-primary homepage-btn" href="#courses" role="button" style="margin-top: 60px; font-size: 28px; width: 283px; padding: 15px;">开始学习</a>
  </div>
</div>


<!-- Characteristics -->
<div class="container" id="steps">
  <div class="padding-top text-center">
    <div class="row">

      <div>
        <h2 style="color: #797979; font-size: 36px; line-height: 56px;">聚焦在产生积极社会影响力的 STEAM 教育</h2>
      </div>

      <div class="padded">
        <div class="col-sm-4" >
          <%= image_tag "info1.png", class: ""%>
          <h4>线上课程让你随时随地零基础入门<br>线下训练营手把手和你一起搭建原型</h4>
        </div>
        <div class="col-sm-4"  >
          <%= image_tag "info2.png", class: ""%>
          <h4>行业专家，大学，NGO 共同开发课程<br>提供专业权威的课程内容</h4>
        </div>
        <div class="col-sm-4" >
          <%= image_tag "info3.png", class: ""%>
          <h4>导师全程监督与辅导<br>在互助的学习社区里共同进步</h4>
        </div>
<!--         <div class="col-sm-4 second-row" >
          <%#= image_tag "info4.png", class: ""%>
          <h4>了解具体技术方案在社会创新<br>中的应用案例</h4>
        </div>
        <div class="col-sm-4 second-row"  >
          <%#= image_tag "info5.png", class: ""%>
          <h4>亲自动手实践具体解决方案</h4>
        </div>
        <div class="col-sm-4 second-row" >
          <%#= image_tag "info6.png", class: ""%>
          <h4>学以致用，用创新科技帮助<br>自己身边的社区</h4>
        </div> -->
      </div>
    </div>
  </div>
</div>

<!-- 3 Steps -->
<div class="container" id="">
  <div class="padded text-center border-bottom-thin">
    <div class="row">

      <div>
        <h2 style="color: #797979; font-size: 36px; line-height: 56px;">3 步走，学习如何通过技术帮助自己身边的社区</h2>
      </div>

      <div class="padded flexbox hidden-sm hidden-xs">

        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="step-card" style="font-smooth: always;">
            <div class="" style="">
              <h3 class="course-card-title margin-1em-allsides text-center">
                <%= image_tag "flame.png", height: "96px" %>
              </h3>
            </div>
            <div class="step-card-description step_background_blue ">
              <div class="flexbox items-center">
                <div class="height-100 text-white text-smooth step-num flexbox">
                  <h4 class="text-36px">1</h4>
                </div>
                <div class="height-100 text-white text-smooth flexbox text-left">
                  <h4>了解具体技术方案在社会创新中的实际应用案例</h4>
                </div>
              </div>
            </div>
          </div>
        </div>

        <%= image_tag "arrow.png", height: "63px" %>

        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="step-card" style="font-smooth: always;">
            <div class="" style="">
              <h3 class="course-card-title margin-1em-allsides text-center">
                <%= image_tag "wrench.png", height: "96px" %>
              </h3>
            </div>
            <div class="step-card-description step_background_red">
              <div class="flexbox items-center">
                <div class="height-100 text-white text-smooth step-num flexbox">
                  <h4 class="text-36px">2</h4>
                </div>
                <div class="height-100 text-white text-smooth flexbox text-left">
                  <h4>在两个月的时间里，学习实践具体解决方案，打造第一版原型</h4>
                </div>
              </div>
            </div>
          </div>
        </div>

        <%= image_tag "arrow.png", height: "63px" %>

        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="step-card" style="font-smooth: always;">
            <div class="" style="">
              <h3 class="course-card-title margin-1em-allsides text-center">
                <%= image_tag "heart.png", height: "96px" %>
              </h3>
            </div>
            <div class="step-card-description step_background_yellow">
              <div class="flexbox items-center">
                <div class="height-100 text-white text-smooth step-num flexbox">
                  <h4 class="text-36px">3</h4>
                </div>
                <div class="height-100 text-white text-smooth flexbox text-left">
                  <h4>在导师的辅导下，在接下来的六个月用所学技术设计一个解决方案，帮助自己身边的社区</h4>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>


      <div class="padded hidden-lg hidden-md">

          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="step-card" style="font-smooth: always;">
              <div class="" style="">
                <h3 class="course-card-title margin-1em-allsides text-center">
                  <%= image_tag "flame.png", height: "96px" %>
                </h3>
              </div>
              <div class="step-card-description step_background_blue ">
                <div class="flexbox items-center">
                  <div class="height-100 text-white text-smooth step-num flexbox">
                    <h4 class="text-36px">1</h4>
                  </div>
                  <div class="height-100 text-white text-smooth flexbox text-left">
                    <h4>了解具体技术方案在社会创新中的实际应用案例</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="step-card" style="font-smooth: always;">
              <div class="" style="">
                <h3 class="course-card-title margin-1em-allsides text-center">
                  <%= image_tag "wrench.png", height: "96px" %>
                </h3>
              </div>
              <div class="step-card-description step_background_red">
                <div class="flexbox items-center">
                  <div class="height-100 text-white text-smooth step-num flexbox">
                    <h4 class="text-36px">2</h4>
                  </div>
                  <div class="height-100 text-white text-smooth flexbox text-left">
                    <h4>在两个月的时间里，学习实践具体解决方案，打造第一版原型</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="step-card" style="font-smooth: always;">
              <div class="" style="">
                <h3 class="course-card-title margin-1em-allsides text-center">
                  <%= image_tag "heart.png", height: "96px" %>
                </h3>
              </div>
              <div class="step-card-description step_background_yellow">
                <div class="flexbox items-center">
                  <div class="height-100 text-white text-smooth step-num flexbox">
                    <h4 class="text-36px">3</h4>
                  </div>
                  <div class="height-100 text-white text-smooth flexbox text-left">
                    <h4>在导师的辅导下，在接下来的六个月用所学技术设计一个解决方案，帮助自己身边的社区</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Courses -->
<div class="padded text-smooth" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%), url(/assets/user_dashboard_banner-d234d87f9b7112f19b26c3f39617985cc2bb099b519f69a856ecb9ecc58d1163.png);">
  <div class="text-center" id="courses">
    <h2 class="courses-heading">推荐课程</h2>
  </div>

  <div class="container" id="courses">

    <div class="row">
      <br>
      <% @courses.each do |course| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="course-card" style="font-smooth: always;">

              <% if course.photos? %>
                <% course_photo_path = course.photos.first.path %>
                <% course_company_logo = course.photos.last.path %>
              <% else %>
                <% course_photo_path = ('madi-robson-113926_wqpmaf') %>
                <% course_photo_path = ('madi-robson-113926_wqpmaf') %>
              <% end %>

              <div class="course-card-image" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)),

              url('<%= cl_image_path course_photo_path %>');">
              <div>
                <h3 class="course-card-title margin-1em-allsides text-center">
                  <%= course.title %>
                </h3>
              </div>

              </div>

              <div class="course-card-description">
                <!-- <h2 class="course-card-mission text-left"></h2> -->
                <div class="height-100 text-reading-gray text-smooth">
                  <h4><%= course.tagline %></h4>
                </div>
                <div>
                  <div class="flexbox">
                    <p class="tag-flex" style="color: #767676;"><i class="fa fa-tag text-blue7"></i><%#= course.tech_solution %></p>
                    <p style="color: #767676;"><%= image_tag('globe.png') %><%#= course.issue %></p>
                    </%>
                    <%#= cl_image_tag course_company_logo, height: '20px' %>
                  </div>
                </div>
              </div>
              <div>
                <% if course.id == 1%>
                  <%= link_to "", course_path(course), class: "course-card-link" %>
                <% else %>
                  <div class="overlay">
                    <span class="text">— 即将推出 —</span>
                  </div>
                <% end %>
              </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>

<!-- Learning Process -->
<div class="padded">
  <h2 class="text-center" style="color: #797979; line-height: 56px; font-size: 36px;">给心怀天下的梦想家配备技能<br>为脚踏实地的践行者赋予情怀</h2>
</div>

<div class="wrapper-learning-process parallax-homepage" style="background-image: url(<%= image_path('homebanner2.jpg') %>); position: relative"" id="how_does_it_work">
  <div class="triangle">
    <%= image_tag "triangle.png"%>
  </div>
  <div class="text-center">
    <div class="parallax-logo">
      <%= image_tag "logo_white.png"%>
    </div>
    <div class="parallax-text text-50px">
      <h3 style="font-size: 24px">Tech for good 与展翼计划合作的3D打印机械义肢课程在2017年培训了超过100名来自全国20多所高中的学生，制作并寄送出义肢17例给手掌残疾的儿童</h3>
    </div>
  </div>
</div>

<!-- FAQ -->
<!-- <div class="container faq-section padded width-1000" id="faq">
  <h3 class="text-center fredoka text-blue7">FAQ</h3>
  <h4><em>Will I be paired up with people in need?</em></h4>
  <p class="text-reading-gray">As we expand our network of NGO partners, we hope for each course to be paired with real world use cases.</p><br>

  <h4><em>How can my company offer our tech?</em></h4>
  <p class="text-reading-gray">It'd be great to speak further!  Please email us at contact@learnforgood.cn</p><br>

  <h4><em>Can my company take courses as a group?</em></h4>
  <p class="text-reading-gray">We'd love to talk to you and see how we can cooperate. We could run workshops for your employees, or actually train your company to provide workshops to the local community.</p><br>

  <h4><em>What's the cost of the courses?</em></h4>
  <p class="text-reading-gray">The course fee is still being decided, but will be only used to run our operations, as we are an NGO ourselves.</p><br>

</div>

<div class="text-center padded background_gray">
  <a href="#courses" class="fancy-button text-center bg-gradient1 page-scroll">
    <span class="fredoka">Enroll Today</span>
  </a>
</div> -->
