<!-- Banner -->
<!-- <div class="banner parallax" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%#= image_path('homepage_banner.png') %>);">
  <div class="banner-content">
    <h1>TechForGood</h1>
    <p>Learn &amp; Lend a Hand</p>


  </div>
</div> -->

<!-- Banner -->
<div class="parallax top-margin" style="background-color: #3498DB;">
  <div class="container text-left text-white padded hidden-xs">

    <span class="shape fredoka text-80px">TechForGo</span>

    <span class="menu">
      <i class="fa fa-xl fa-globe globe  menu_label"></i>
      <span class="shape fredoka text-80px photoStyle">o</span>
      <span class="shape fredoka text-80px ">d</span>
    </span>


    <h1 class="fredoka text-type-animation text-80px pvw-title"><span>Learn &amp; Lend a Hand</span></h1>

  </div>
  <div class="container text-left text-white padded text-center hidden-sm hidden-md hidden-lg">

    <span class="shape fredoka text-lg ">Tech<br>For<br>Go</span>

    <span class="menu">
      <i class="fa fa-xl fa-globe globe image-spin  menu_label"></i>
      <span class="shape fredoka text-lg  photoStyle">o</span>
      <span class="shape fredoka text-lg  ">d</span>
    </span>

    <h1 class="fredoka"><span>Learn &amp; Lend a Hand</span></h1>

  </div>
  <div class="row padded">
    <div class="col-xs-3 col-sm-6">
    </div>

    <div class="col-xs-6 col-sm-4 text-white text-center">
      <%= image_tag "globetech.svg", class: "img-full-width"%>
    </div>
    <div class="col-xs-3 col-sm-2">
    </div>
  </div>




</div>

<!-- Banner -->
<!-- <div class=" padded" style="background-image: linear-gradient(180deg, rgba(52, 152, 219,1) 0%, rgba(255,255,255,1) 80%)">
  <div class="container text-left padded text-white">
  <div class="shape fredoka text-double ">TechForGood<br> </div>
  <h1 class="fredoka">Learn &amp; Lend a Hand</h1>
</div>
</div> -->




<!-- Characteristics -->
<div class="wrapper">
  <div class="container text-center padded characteristics">
    <div class="row">
      <div class="col-sm-4">
        <%= image_tag "char1.png", class: "img-double"%>
        <h4>Learn online in your own time</h4>
      </div>
      <div class="col-sm-4">
        <%= image_tag "char2.png", class: "img-double"%>
        <h4>Study courses developed with universities and NGOs</h4>
      </div>
      <div class="col-sm-4">
        <%= image_tag "char3.png", class: "img-double"%>
        <h4>Get support from tutors and our online learning community</h4>
      </div>
    </div>
  </div>
</div>

<!-- Courses -->
<div class="container padded" id="Courses">
  <div class="row">
    <h3 align="center">Browse Our Courses</h3>
    <br>

    <% @courses.each do |course| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="course-card">
         <div class="course-card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path('madi-robson-113926_wqpmaf', height: 582, width: 824, crop: :lfill) %>);">
           <h2 class="course-card-mission text-center"><%= course.tagline %></h2>
         </div>
          <div class="course-card-description">
            <h2><%= course.title %></h2>
            <p><%= course.organization.name %></p>
            <div class="org-logos"></div>
          </div>
          <%= link_to "", course_path(course), class: "course-card-link" %>
        </div>
      </div>
    <% end %>

  </div>
</div>

<!-- Learning Process -->
<div class="wrapper-learning-process parallax" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path('zi-jian-lim-227847_j6rckn', height: 1082, width: 1624, crop: :lfill) %>);" id="How does it work?">
  <div class="container padded">
    <div class="row">
    <h3 align="center">How does it work?</h3>

      <% @steps.each do |step, icon| %>
      <div class="col-xs-12 col-md-4">
        <div class=" learning-process-card">
          <div class="learning-process-description text-center">
            <h2><%= step %></h2>
            <h1><i class="fa fa-<%= icon %>" aria-hidden="true"></i></h1>
          </div>
        </div>
      </div>
      <% end %>

    </div>
  </div>
</div>

<!-- FAQ -->
<div class="container faq-section padded" id="FAQ">
  <h3 class="text-center">FAQ</h3>
  <h4>Do you only help children?</h4>
  <p>Our current Cyborg Beast is designed primarily for children, so it will be more targeted to help 3-14 year old children and adolescents. Prostheses also apply to adults, we are also developing more realistic appearance, but also the synthesis of human prosthetic products (such as Flexy Hand).</p><br>

  <h4>What can you do with this limb? What is the practical help for the children?</h4>
  <p>Our mechanical prosthesis is mainly achieved by grasping function. 3D printing machine Yisheng as a hand aids, not to fully realize the function of the real hand. But for the hand of the disabled children, the meaning of our prosthesis is mainly reflected in: <br><br>
  Life in the scene with the hands of the activities<br>
  Exercise the limb hand muscle, promote normal development<br>
  The "hands with the use of" into a not so frustrating learning process, reduce the hands can not cope with the anxiety, contribute to mental health growth.</p><br>

  <h4>What is the difference between your righteousness and other prostheses on the market?</h4>
  <p>The market has been prosthetic products from the cost of appearance, function, weight, etc. are not applicable to children, we do the 3D printing machine prosthesis:<br><br>
  The main components of 3D printing, low production costs<br>
  Mechanical transmission ﹑ easy loading and unloading replacement<br>
  You can achieve the basic grip function<br>
  Production is simple, for Jintong people do not exist production threshold, suitable for a wide range of popular</p>
</div>


<!-- desktop image -->
<div class="text-center">
  <%= image_tag "desktop.png", id: "desktop-image"%>
</div>
