<div class="navbar-fixed-top">
  <div class="container">

    </div>
    <div id="navbar" class="navbar-techforgood">
      <!-- Logo -->

      <a href="#top" class="navbar-techforgood-brand page-scroll">
        <i class="fa fa-graduation-cap"></i>
      </a>

      <!-- We can use this to add the logo image when we have a proper one -->
      <%#= link_to root_path, class: "navbar-techforgood-brand" do %>
        <%#= image_tag "handson-logo.png" %>
      <%# end %>

      <!-- Right Navigation -->
      <div id="nav" class="navbar-techforgood-right hidden-xs hidden-sm">

        <a href="#courses" class="navbar-techforgood-item navbar-techforgood-link page-scroll"><span>Courses</span></a>
        <a href="#how_does_it_work" class="navbar-techforgood-item navbar-techforgood-link page-scroll"><span>How does it work?</span></a>
        <a href="#tuition" class="navbar-techforgood-item navbar-techforgood-link page-scroll"><span>Tuition</span></a>
        <a href="#faq" class="navbar-techforgood-item navbar-techforgood-link page-scroll"><span>FAQ</span></a>


        <!-- Different navigation if login or not -->
        <% if user_signed_in? %>

          <!-- Profile picture and dropdown -->
          <div class="navbar-techforgood-item">
            <div class="dropdown">
              <%= image_tag "avatar_placeholder.png", class: "avatar-large dropdown-toggle", id: "navbar-techforgood-menu", "data-toggle" => "dropdown" %>
              <ul class="dropdown-menu dropdown-menu-right navbar-techforgood-dropdown-menu">
                <li>
                  <%= link_to dashboard_users_path do %>
                    <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete do %>
                    <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>

        <% else %>

          <!-- Login text link -->
          <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-techforgood-item navbar-techforgood-link" %>

        <% end %>
      </div>

      <!-- Dropdown list appearing on mobile only -->
      <div class="navbar-techforgood-item hidden-md hidden-lg">
        <div class="dropdown">
          <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-techforgood-dropdown-menu">
            <li>
              <%= link_to dashboard_users_path do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
                <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>





<!-- Banner -->
<!-- <div class="banner parallax" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%#= image_path('homepage_banner.png') %>);">
  <div class="banner-content">
    <h1>TechForGood</h1>
    <p>Learn &amp; Lend a Hand</p>


  </div>
</div> -->

<!-- Banner -->
<div id="top" class="parallax top-margin" style="background-color: #3498DB;">
  <div class="container text-left text-white padded hidden-xs">

    <span class="shape fredoka text-80px">TechForGo</span>

    <span class="menu">
      <i class="fa fa-xl fa-globe globe  menu_label"></i>
      <span class="shape fredoka text-80px photoStyle">o</span>
      <span class="shape fredoka text-80px ">d</span>
    </span>


    <h1 class="fredoka text-type-animation text-80px pvw-title"><span>Learn &amp; Lend a Hand</span></h1>

    <a href="#steps" class="fancy-button bg-gradient1 page-scroll">
      <span class="fredoka">View Courses</span>
    </a>

  </div>
  <div class="container text-left text-white padded text-center hidden-sm hidden-md hidden-lg">

    <span class="shape fredoka text-lg ">Tech<br>For<br>Go</span>

    <span class="menu">
      <i class="fa fa-xl fa-globe globe image-spin  menu_label"></i>
      <span class="shape fredoka text-lg  photoStyle">o</span>
      <span class="shape fredoka text-lg  ">d</span>
    </span>

    <h1 class="fredoka"><span>Learn &amp; Lend a Hand</span></h1>

  </div>
  <div id="globe-image" class="row ">
    <div class="col-xs-3 col-sm-6">
    </div>

    <div class="col-xs-6 col-sm-4 text-white text-center">
      <%= image_tag "globetech.svg", class: "img-full-width"%>
    </div>
    <div class="col-xs-3 col-sm-2">
    </div>
  </div>
</div>



<div class="row no-y-padding text-smooth">
  <div class="text-center " id="courses">
    <h3><span class="row">Courses developed with:
      <%= image_tag "Microsoft-Logo.png", class: "img-height-30"%>
      <%= image_tag "JohnsonandJohnsonLogo.svg.png", class: "img-height-30"%>
      <%= image_tag "Stratasys_Logo.png", class: "img-height-30"%>
    </span></h3>
  </div>
</div>


<!-- Banner -->
<!-- <div class=" padded" style="background-image: linear-gradient(180deg, rgba(52, 152, 219,1) 0%, rgba(255,255,255,1) 80%)">
  <div class="container text-left padded text-white">
  <div class="shape fredoka text-double ">TechForGood<br> </div>
  <h1 class="fredoka">Learn &amp; Lend a Hand</h1>
</div>
</div> -->



<!-- Courses -->
<div class="container " id="">
  <div class="row">
    <br>

    <% @courses.each do |course| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="course-card">
         <div class="course-card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path('madi-robson-113926_wqpmaf', height: 582, width: 824, crop: :lfill) %>);">
           <h2 class="course-card-mission text-center"><%= course.tagline %></h2>
         </div>
          <div class="course-card-description">
            <h2><%= course.title %></h2>
            <p><%= course.organization.name %></p>
            <div class="org-logos"></div>
          </div>
          <%= link_to "", course_path(course), class: "course-card-link" %>
        </div>
      </div>
    <% end %>

  </div>
</div>



<!-- Characteristics -->
<div class="wrapper" id="steps">
  <div class="container text-center padded characteristics">
    <div class="row">

      <div class="col-sm-4" data-aos="fade-left" >
        <%= image_tag "char1.png", class: "img-double"%>
        <h4>Learn online in your own time</h4>
      </div>
      <div class="col-sm-4" data-aos="fade-left" data-aos-delay="300" >
        <%= image_tag "char2.png", class: "img-double"%>
        <h4>Study courses developed with universities and NGOs</h4>
      </div>
      <div class="col-sm-4" data-aos="fade-left" data-aos-delay="600">
        <%= image_tag "char3.png", class: "img-double"%>
        <h4>Get support from tutors and our online learning community</h4>
      </div>
    </div>
  </div>
</div>



<!-- Learning Process -->
<div class="wrapper-learning-process parallax" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path('zi-jian-lim-227847_j6rckn', height: 1082, width: 1624, crop: :lfill) %>);" id="how_does_it_work">
  <div class="container padded">
    <div class="row">
    <!-- <h3 align="center">How does it work?</h3> -->

      <% @steps.each do |step, icon| %>
      <div class="col-xs-12 col-md-4">
        <div class=" learning-process-card">
          <div class="learning-process-description text-center">
            <h2><%= step %></h2>
            <h1><i class="fa fa-<%= icon %>" aria-hidden="true"></i></h1>
          </div>
        </div>
      </div>
      <% end %>

    </div>
  </div>
</div>

<!-- FAQ -->
<div class="container faq-section padded" id="faq">
  <h3 class="text-center">FAQ</h3>
  <h4>Do you only help children?</h4>
  <p>Our current Cyborg Beast is designed primarily for children, so it will be more targeted to help 3-14 year old children and adolescents. Prostheses also apply to adults, we are also developing more realistic appearance, but also the synthesis of human prosthetic products (such as Flexy Hand).</p><br>

  <h4>What can you do with this limb? What is the practical help for the children?</h4>
  <p>Our mechanical prosthesis is mainly achieved by grasping function. 3D printing machine Yisheng as a hand aids, not to fully realize the function of the real hand. But for the hand of the disabled children, the meaning of our prosthesis is mainly reflected in: <br><br>
  Life in the scene with the hands of the activities<br>
  Exercise the limb hand muscle, promote normal development<br>
  The "hands with the use of" into a not so frustrating learning process, reduce the hands can not cope with the anxiety, contribute to mental health growth.</p><br>

  <h4>What is the difference between your righteousness and other prostheses on the market?</h4>
  <p>The market has been prosthetic products from the cost of appearance, function, weight, etc. are not applicable to children, we do the 3D printing machine prosthesis:<br><br>
  The main components of 3D printing, low production costs<br>
  Mechanical transmission ﹑ easy loading and unloading replacement<br>
  You can achieve the basic grip function<br>
  Production is simple, for Jintong people do not exist production threshold, suitable for a wide range of popular</p>
</div>


<!-- desktop image -->
<div class="text-center">
  <%= image_tag "desktop.png", id: "desktop-image"%>
</div>
