  <!-- Course Information -->
  <div class="course-banner bottom-position" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 70%), url(<%= image_path('header_3d_printing.png') %>); height: 360px;">
    <div class="banner-content">
      <h3 class="text-left text-36px">据估计，全中国有接近100万的肢体残疾儿童<br>利用3D打印技术为他们插上双翼</h3>
      <!-- <p><em><%=  @course.tagline %></em></p>
      <a><span class="">
      <%= render :partial => 'enrollments/form', locals: {course: @course, enrollment: Enrollment.new } %>
      </span></a> -->
    </div>
  </div>
    <!-- course_show_page.scss -->


<!-- url(<%= image_path('loginpage_image.png') %>); margin-top: 170px; background-position: top; height: 404px; width: 543px; background-size: cover !important; margin-left: 10px;"> -->

  <div class="course_container">

    <!-- Sidebar -->
    <div id="course_sidebar" class="text-center sidebar">
      <div class="text-left div-relative course_sidebar_tab padded_tab">
        <div class="lesson-text text-center">
          <h5>此课程由以下机构联合开发授课</h5>
          <!-- <h5><%#= @course.organization.name %></h5> -->
          <%= image_tag("handson-logo.png", height: '64px') %>
          <h5 class="bottom-border-thick padded-bottom-1em">(清华大学XLAB入驻项目)</h5>
        </div>
      </div>
      <div>
        <div>
          <div class="div-relative text-center">
            <h5><a href="#overview" class="sidebar-menu-padding course-sidebar-tab">关于议题</a></h5>
          </div>
          <div class="div-relative text-center">
            <h5><a href="#syllabus" class="sidebar-menu-padding course-sidebar-tab">课程大纲</a></h5>
          </div>
          <div class="div-relative text-center">
            <h5><a href="#project" class="sidebar-menu-padding course-sidebar-tab">实践项目</a></h5>
          </div>
          <div class="div-relative text-center">
            <h5><a href="#tutors" class="sidebar-menu-padding course-sidebar-tab">讲师团队</a></h5>
          </div>
          <div class="div-relative text-center">
            <h5><a href="#faqs" class="sidebar-menu-padding course-sidebar-tab">常见疑问</a></h5>
          </div>
        </div>
      </div>

      <div class="padded_tab">
        <%= render :partial => 'enrollments/form', locals: {course: @course, enrollment: Enrollment.new } %>
        <div id="enroll-btn2" class="btn btn-default text-white disabled padded-vertical-15px margin-y-1em">开始上课</div>
<!--         <h6>Course Starts: <%= @course.start_date %></h6>
        <h6><%= @course_enrollments.count %> Students</h6> -->
      </div>
    </div>


    <!-- End of sidebar -->

      <div class="left_padding">
        <div class="course-content" id="intro">
          <div class="row background_white slightly_padded">
            <div class="course_intro width-720">
              <h4 class="" id="overview"> 关于议题</h4>
              <div class="heading-top-blue-border"></div>
              <div class="heading-botton-gray-border margin-bottom-34px"></div>
              <div class="">
                <%= image_tag("3d_print_description_image.png", class: "img-rounded margin-bottom-34px", width: '100%') %>
                <p class="text-smooth margin-bottom-15px">据抽样数据统计，在中国有大约 2400 万肢体残疾人口。按照人口比例，其中大约 4.6% 为 0-14 岁的儿童，约 110 万。进一步地，当中大概有三分之二的人，家庭经济条件困难，生活在信息欠发达地区。虽然科技进步已经发明出给残疾人使用的义肢，但现有解决方案成本昂贵，手术除了成本高昂，耗时长，且存在一定术后并发症的风险；对于儿童来说，因为其生长发育快，对义肢更换频率要求高，制作、安装、维护成本让很多家庭无法承担。用一双手去拥抱、握手、执笔、抚摸、操作等如此简单的动作，却是那些残疾儿童不能承受的奢望。</p>
                <%= image_tag("3d_print_description_image2.png", class: "img-rounded margin-bottom-34px", width: '100%') %>
                <p class="text-smooth text-blue7 text-24px margin-bottom-15px"><strong>我们的解决方案：基于开源技术二次开发，为手部残疾儿童提供经济、简易的3D打印机械义肢。</strong></p>
              </div>
            </div>
          </div>

          <div class="row background_white slightly_padded">
            <div class="course_intro width-720">
              <h4 class= "text-blue7 text-left">课程大纲 </h4>
              <div class="heading-top-blue-border"></div>
              <div class="heading-botton-gray-border margin-bottom-34px"></div>
              <div class="syllabus_box">
                <p class="box-blue text-center" id="syllabus">课程信息</p>
                <ul class="text-left">

<!--
                  <li>
                     <% course_length = 0%>
                    <% @course.lessons.each do |lesson| %>
                    <% course_length += lesson.minutes %>
                  <% end %>
                    <span class="green_text">Class length:</span> <%= course_length.to_f / 60 %> hours
                  </li>
 -->

                  <p class="text-smooth"><span class="text-blue7">课程长度:</span> 6-8 周 (线上课程) + 6日线下特训营 (单独文档介绍)</p>
                  <p class="text-smooth"><span class="text-blue7">课程证书:</span> 展翼计划/美国e-NABLE 社区创始人联名感谢信</p>
                  <p class="text-smooth"><span class="text-blue7">结业条件:</span> 课完成所有线上与线下课程，线上课程程得分 >= 80 分</p>
                  <p class="text-smooth"><span class="text-blue7">预备知识:</span> 无必须预备知识，有 3D 建模软件操作经验更佳</p>
                </ul>
              </div>
            </div>

    </div>

    <div class="row background_white slightly_padded">
      <div class="course_intro width-720">
      <div class="syllabus_box">
      <p class="box-blue">课程表</p>
        <div class="course_syllabus">
          <div class="">
            <ul class="text-left">
              <div class="body-gray syllabus-item">
                <div>
                  <h4 class="text-blue no-bottom-margin text-16px"><em>一. 3D打印技术简介</em></h4>
                  <p class="text-smooth"><span class="text-blue7">知识点：</span> 3D打印技术原理，主流生产工艺特点；3D打印在各个领域的应用案例与未来趋势；初步认识3D打印义肢；利用切片软件制作自己的三维照片等。</p>
                </div>
              </div>

              <div class="body-gray syllabus-item">
                <div>
                  <h4 class="text-blue no-bottom-margin text-16px"><em>二. FDM 3D打印机选择及使用</em></h4>
                  <p class="text-smooth"><span class="text-blue7">知识点：</span> 3D打印机的种类与选择；切片软件的详细使用方法和参数设置；3D打印机的使用技巧与维护方式；不同3D打印材料的特点及其打印特性；初步学习建模软件solidwors的使用方法等。</p>
                </div>
              </div>

              <div class="body-gray syllabus-item">
                <div>
                  <h4 class="text-blue no-bottom-margin text-16px"><em>三. 3D建模</em></h4>
                  <p class="text-smooth"><span class="text-blue7">知识点：</span> CAD三维设计及Solidworks介绍；认识视图与草图绘制；拉伸凸台/拉伸切除，圆角倒角操作，交并补思维，剪裁实体；旋转/旋转切除操作；扫描，放样操作；曲面放样功能等。</p>
                </div>
              </div>

              <div class="body-gray syllabus-item">
                <div>
                  <h4 class="text-blue no-bottom-margin text-16px"><em>四. Tech for Good</em></h4>
                  <p class="text-smooth"><span class="text-blue7">知识点：</span> Phoenix hand 义肢整体结构和功能介绍，模型特征拆分分析；简化版义肢整体建模与组装；更多3D打印领域相关的tech for good案例介绍，模型下载与应用实践等。</p>
                </div>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row background_white slightly_padded">
      <div class="course_intro width-720">
        <h4 class="text-blue7 text-left" id="tutors">实践项目</h4>
        <div class="heading-top-blue-border"></div>
        <div class="heading-botton-gray-border margin-bottom-34px"></div>
        <div class="syllabus_box flexbox">
          <%= image_tag("3d_course_image2.png", class: "img-rounded", height: '100') %>
          <div>
            <p class="padding-left-20">线上课程结业项目 ：<span class="text-blue7">通过三维建模设计组装一只义肢 </span></p>
            <p class="padding-left-20 text-smooth">综合之前课程学习到的三维建模技术，从零开始设计并组装一只简化版的 phoenix hand 义肢</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row background_white slightly_padded">
      <div class="course_intro width-720">
        <h4 class="text-blue7 text-left"> 讲师团队</h4>
        <div class="heading-top-blue-border"></div>
        <div class="heading-botton-gray-border margin-bottom-34px"></div>
        <div class="syllabus_box flexbox margin-bottom-15px">
          <%= image_tag("review1.png", class: "img-circle margin-1em-allsides", height: '100') %>
          <div>
            <p class="padding-left-20">苏江舟</span></p>
            <p class="padding-left-20 text-smooth">北京理工大学机械研究生；「展翼计划」技术研发负责人；
Autodesk 认证学生专家；Autodesk Panorama 设计竞赛中国区第一名。</p>
          </div>
        </div>
        <div class="syllabus_box flexbox margin-bottom-15px">
          <%= image_tag("review2.png", class: "img-circle margin-1em-allsides", height: '100') %>
          <div>
            <p class="padding-left-20">祁繁</span></p>
            <p class="padding-left-20 text-smooth">南京中科煜宸激光技术有限公 3D 建模师；
南京大学公选课（3D 设计及打印技术）建模老师，Xworks 项目教学导师。</p>
          </div>
        </div>

      </div>
    </div>

    <div class="row background_white slightly_padded">
      <div class="course_intro width-720">
        <h4 class="text-blue7 text-left" id="faqs"> 常见疑问</h4>
        <div class="heading-top-blue-border"></div>
        <div class="heading-botton-gray-border margin-bottom-34px"></div>
        <div class="faq-section width-720 flexbox" id="faq">
          <div>
            <%= image_tag("faq1.png", class: "") %>
            <%= image_tag("faq2.png", class: "") %>
          </div>
          <div class="padding-left-20">
            <h4 class="text-blue"><em>1. 你们这个义肢能实现什么功能？对小朋友有什么实际帮助？</em></h4>
            <p class="text-reading-gray">
              我们的机械义肢主要实现的是抓握功能。 3D打印机械义胜作为手部輔助工具，并非为了完全实现真手的功能。但是对于手部残疾的小朋友来说，我们这款义肢的意义主要体现在︰
              - 生活中场景式的双手配合活动
              - 鍛炼残肢手部肌肉，促进正常发育
              - 将”双手配合使用"变成一个没有那么沮丧的学习过程，減少双手不能 - 配合时的焦虑，有助于心理健康成长。
              更多信息请参考展翼计划：http://www.zhanyijihua.com/
            </p><br>

            <h4 class="text-blue"><em>2. 线下特训营的具体内容是什么？时间地点是怎样安排？</em></h4>
            <p class="text-reading-gray">
              线下特训营一般为期 5-6 日，紧接在线上课程之后，在寒假/暑假期间举办。具体内容涉及 3D 打印机 DIY 组装与调试，设计思维课程，3D 建模设计与机械结构设计进阶课程，3D 打印基地参观，义肢打印及实物组装调试，义肢设计黑客马拉松等环节。具体信息请参考：
            </p><br>

            <h4 class="text-blue"><em>3. 具体费用包含哪些内容？</em></h4>
            <p class="text-reading-gray">
              课程费用包括6-8周的线上课程内容与导师辅导费用，6天线下特训营的所有课程费用。材料工具费用包括每个小组（3-5 人）共同分担的工具材料包与 3D 打印机的费用。具体费用清单请参考：
              注：参加线下特训营的交通与食宿需要另行自付。
            </p><br>

            <h4 class="text-blue"><em>更多课程项目相关咨询，请电话咨询：1234567 或添加公众号并留言：XXX</em></h4>
          </div>
        </div>

      </div>
    </div>




<!--
 <div class="row background_white slightly_padded parallax bottom-position no-repeat cover-size" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(255,255,255,0.4) 90%), url(<%= image_path('3dprinter.jpg') %>);">

      <div class="course_project width-720 text-center">

        <div class="project_review col-sm-5 col-xs-8 margin-bottom-15px" data-aos="fade-right">
          <div>
          <%= image_tag("smilingwoman.jpg", class: "img-rounded", height: '100', width: '100') %>
          </div>
          <h4><strong>Samantha</strong></h4>
          <div class="text-left">
            <p class="text-smooth "><em>"I started not knowing anything about 3D printing, but with the great lessons and supportive community, I built a hand for Chen and it was a really amazing experience!"</em></p>
          </div>
        </div>
        <div class="col-xs-0 col-sm-2">

        </div>

      </div>
    </div>
    <div class="row background_white slightly_padded parallax bottom-position no-repeat cover-size" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(255,255,255,0.4) 90%), url(<%= image_path('3dprinter.jpg') %>);">

      <div class="course_project width-720 text-center">
         <div class="col-xs-0">

        </div>

        <div class="col-xs-0 col-sm-2">

        </div>
        <div class="project_review2 col-sm-5 col-xs-8 margin-bottom-15px" data-aos="fade-left" data-aos-delay="300" >
            <div>
            <%= image_tag("boy.jpg", class: "img-rounded", height: '100', width: '100') %>
            </div>
            <h4><strong>Chen</strong></h4>
            <div class="text-left">
            <p class="text-smooth ">Chen's been using the hand Samantha made to build up his arm strength &amp; to impress all his 3rd grade classmates!  He often sends Samantha photos of his biking adventures!</p>
            </div>
        </div>
      </div>
    </div> -->

    </div>
    </div>
  </div>
