  <!-- Course Information -->
  <div class="course-banner bottom-position" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 70%), url(<%= image_path('header_3d_printing.png') %>); height: 360px;">
    <div class="banner-content">
      <h3 class="text-left text-36px">据估计，全中国有接近100万的肢体残疾儿童<br>利用3D打印技术为他们插上双翼</h3>
      <!-- <p><em><%=  @course.tagline %></em></p>
      <a><span class="">
      <%= render :partial => 'enrollments/form', locals: {course: @course, enrollment: Enrollment.new } %>
      </span></a> -->
    </div>
  </div>
    <!-- course_show_page.scss -->


<!-- url(<%= image_path('loginpage_image.png') %>); margin-top: 170px; background-position: top; height: 404px; width: 543px; background-size: cover !important; margin-left: 10px;"> -->

  <div class="course_container">
    <%= render "courses/sidebar"%>
      <div class="left_padding">
        <div class="course-content" id="intro">
          <div class="row background_white slightly_padded">
            <div class="course_intro width-720">
              <h4 class="" id="overview"> Course Overview</h4>
              <div class="heading-top-blue-border"></div>
              <div class="heading-botton-gray-border margin-bottom-34px"></div>
              <div class="">
                <img class="margin-bottom-34px" src="<%= image_path('3d_print_description_image.png') %>" style="width:100%;">
                <p class="text-smooth margin-bottom-15px">据抽样数据统计，在中国有大约 2400 万肢体残疾人口。按照人口比例，其中大约 4.6% 为 0-14 岁的儿童，约 110 万。进一步地，当中大概有三分之二的人，家庭经济条件困难，生活在信息欠发达地区。虽然科技进步已经发明出给残疾人使用的义肢，但现有解决方案成本昂贵，手术除了成本高昂，耗时长，且存在一定术后并发症的风险；对于儿童来说，因为其生长发育快，对义肢更换频率要求高，制作、安装、维护成本让很多家庭无法承担。用一双手去拥抱、握手、执笔、抚摸、操作等如此简单的动作，却是那些残疾儿童不能承受的奢望。</p>
                <img class="margin-bottom-34px" src="<%= image_path('3d_print_description_image2.png') %>" style="width:100%;">
                <p class="text-smooth text-blue7 text-24px margin-bottom-15px"><strong>我们的解决方案：基于开源技术二次开发，为手部残疾儿童提供经济、简易的3D打印机械义肢。</strong></p>
              </div>
            </div>
          </div>

          <div class="row background_white slightly_padded">
            <div class="course_intro width-720">
              <h4 class= "text-blue7 text-left">Syllabus </h4>
              <div class="heading-top-blue-border"></div>
              <div class="heading-botton-gray-border margin-bottom-34px"></div>
              <div class="syllabus_box">
                <p class="box-blue text-center" id="syllabus">课程信息</p>
                <ul class="text-left">

<!--
                  <li>
                     <% course_length = 0%>
                    <% @course.lessons.each do |lesson| %>
                    <% course_length += lesson.minutes %>
                  <% end %>
                    <span class="green_text">Class length:</span> <%= course_length.to_f / 60 %> hours
                  </li>
 -->

                  <p class="text-smooth"><span class="text-blue7">课程长度:</span> 6-8 周 (线上课程) + 6日线下特训营 (单独文档介绍)</p>
                  <p class="text-smooth"><span class="text-blue7">课程证书:</span> 展翼计划/美国e-NABLE 社区创始人联名感谢信</p>
                  <p class="text-smooth"><span class="text-blue7">结业条件:</span> 课完成所有线上与线下课程，线上课程程得分 >= 80 分</p>
                  <p class="text-smooth"><span class="text-blue7">预备知识:</span> 无必须预备知识，有 3D 建模软件操作经验更佳</p>
                </ul>
              </div>
            </div>

    </div>

    <div class="row background_white slightly_padded">
      <div class="course_intro width-720">
      <div class="syllabus_box">
      <p class="box-blue">课程表</p>
        <div class="course_syllabus">
          <div class="">
            <ul class="text-left">
              <div class="body-gray syllabus-item">
                <div>
                  <h4 class="text-blue no-bottom-margin text-16px"><em>一. 3D打印技术简介</em></h4>
                  <p class="text-smooth"><span class="text-blue7">知识点：</span> 3D打印技术原理，主流生产工艺特点；3D打印在各个领域的应用案例与未来趋势；初步认识3D打印义肢；利用切片软件制作自己的三维照片等。</p>
                </div>
              </div>

              <div class="body-gray syllabus-item">
                <div>
                  <h4 class="text-blue no-bottom-margin text-16px"><em>二. FDM 3D打印机选择及使用</em></h4>
                  <p class="text-smooth"><span class="text-blue7">知识点：</span> 3D打印机的种类与选择；切片软件的详细使用方法和参数设置；3D打印机的使用技巧与维护方式；不同3D打印材料的特点及其打印特性；初步学习建模软件solidwors的使用方法等。</p>
                </div>
              </div>

              <div class="body-gray syllabus-item">
                <div>
                  <h4 class="text-blue no-bottom-margin text-16px"><em>三. 3D建模</em></h4>
                  <p class="text-smooth"><span class="text-blue7">知识点：</span> CAD三维设计及Solidworks介绍；认识视图与草图绘制；拉伸凸台/拉伸切除，圆角倒角操作，交并补思维，剪裁实体；旋转/旋转切除操作；扫描，放样操作；曲面放样功能等。</p>
                </div>
              </div>

              <div class="body-gray syllabus-item">
                <div>
                  <h4 class="text-blue no-bottom-margin text-16px"><em>四. Tech for Good</em></h4>
                  <p class="text-smooth"><span class="text-blue7">知识点：</span> Phoenix hand 义肢整体结构和功能介绍，模型特征拆分分析；简化版义肢整体建模与组装；更多3D打印领域相关的tech for good案例介绍，模型下载与应用实践等。</p>
                </div>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row background_white slightly_padded">
      <div class="course_intro width-720">
        <h4 class="text-blue7 text-left" id="tutors"> Tutor Team</h4>
        <div class="heading-top-blue-border"></div>
        <div class="heading-botton-gray-border margin-bottom-34px"></div>
        <div class="syllabus_box">
        <%= image_tag("smilingwoman.jpg", class: "img-rounded", height: '100', width: '100') %>
        </div>
        <div class="slightly_padded"></div>
         <div class="syllabus_box">
        <%= image_tag("smilingwoman.jpg", class: "img-rounded", height: '100', width: '100') %>
        </div>
      </div>
    </div>

    <div class="row background_white slightly_padded">
      <div class="course_intro width-720">
        <h4 class="text-blue7 text-left"> Reviews</h4>
        <div class="heading-top-blue-border"></div>
        <div class="heading-botton-gray-border margin-bottom-34px"></div>
        <div class="review_box">
          <%= image_tag("smilingwoman.jpg", class: "img-circle", height: '100', width: '100') %>
          <p>Place review here </p>
          <%= image_tag("Microsoft-Logo.png", height: '30px') %>

        </div>
        <div class="slightly_padded"></div>
        <div class="review_box">
          <%= image_tag("smilingwoman.jpg", class: "img-circle", height: '100', width: '100') %>
          <p>Place review here </p>
          <%= image_tag("Microsoft-Logo.png", height: '30px') %>

        </div>

      </div>
    </div>

    <div class="row background_white slightly_padded">
      <div class="course_intro width-720">
        <h4 class="text-blue7 text-left" id="faqs"> FAQ</h4>
        <div class="heading-top-blue-border"></div>
        <div class="heading-botton-gray-border margin-bottom-34px"></div>
        <div class="container faq-section" id="faq">
            <h4><em>Will I be paired up with people in need?</em></h4>
            <p class="text-reading-gray">As we expand our network of NGO partners, we hope for each course to be paired with real world use cases.</p><br>

            <h4><em>How can my company offer our tech?</em></h4>
            <p class="text-reading-gray">It'd be great to speak further!  Please email us at contact@learnforgood.cn</p><br>

            <h4><em>Can my company take courses as a group?</em></h4>
            <p class="text-reading-gray">We'd love to talk to you and see how we can cooperate. We could run workshops for your employees, or actually train your company to provide workshops to the local community.</p><br>

            <h4><em>What's the cost of the courses?</em></h4>
            <p class="text-reading-gray">The course fee is still being decided, but will be only used to run our operations, as we are an NGO ourselves.</p><br>
        </div>

      </div>
    </div>




<!--
 <div class="row background_white slightly_padded parallax bottom-position no-repeat cover-size" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(255,255,255,0.4) 90%), url(<%= image_path('3dprinter.jpg') %>);">

      <div class="course_project width-720 text-center">

        <div class="project_review col-sm-5 col-xs-8 margin-bottom-15px" data-aos="fade-right">
          <div>
          <%= image_tag("smilingwoman.jpg", class: "img-rounded", height: '100', width: '100') %>
          </div>
          <h4><strong>Samantha</strong></h4>
          <div class="text-left">
            <p class="text-smooth "><em>"I started not knowing anything about 3D printing, but with the great lessons and supportive community, I built a hand for Chen and it was a really amazing experience!"</em></p>
          </div>
        </div>
        <div class="col-xs-0 col-sm-2">

        </div>

      </div>
    </div>
    <div class="row background_white slightly_padded parallax bottom-position no-repeat cover-size" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(255,255,255,0.4) 90%), url(<%= image_path('3dprinter.jpg') %>);">

      <div class="course_project width-720 text-center">
         <div class="col-xs-0">

        </div>

        <div class="col-xs-0 col-sm-2">

        </div>
        <div class="project_review2 col-sm-5 col-xs-8 margin-bottom-15px" data-aos="fade-left" data-aos-delay="300" >
            <div>
            <%= image_tag("boy.jpg", class: "img-rounded", height: '100', width: '100') %>
            </div>
            <h4><strong>Chen</strong></h4>
            <div class="text-left">
            <p class="text-smooth ">Chen's been using the hand Samantha made to build up his arm strength &amp; to impress all his 3rd grade classmates!  He often sends Samantha photos of his biking adventures!</p>
            </div>
        </div>
      </div>
    </div> -->

    </div>
    </div>
  </div>




