<div class="container">

  <%= render :partial => 'courses/sidebar' %>

  <!-- Course Information -->
  <div class="container">
    <div id="course-content">
    <div class="course-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path('boy.jpg') %>);">
    <div class="banner-content">
      <h3><%= @course.title %></h3>
    </div>
    </div>

    <hr>

  <!-- Course Description -->
    <div class="row">
      <div class="col-xs-12">
      <a name = "description"></a>
        <div class="course-description text-left">
          <div>
            <p><strong>Course Description: </strong><%= @course.description %></p>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <!-- Organization Information -->
    <div class="row">
      <div class="col-xs-12">
        <div class="organization-information text-left">
            <p><strong>Course by: </strong><%= link_to @course.organization.name, organization_path(@course.organization_id) %></p>
        </div>
      </div>
    </div>

    <hr>

  <!-- Lesson Information -->
    <a name = "syllabus"></a>
      <div class="lesson-information text-left">
        <p><strong>Syllabus: </strong></p>
        <div>
          <% @course.lessons.each do |lesson| %>
            <p><%= lesson.title %></p>
          <% end %>
        </div>
      </div>

    <hr>

    <a name = "course_resources"></a>
      <div class="lesson-information text-left">
        <p><strong>Resources: </strong></p>
        <div>
          <% @course.lessons.each do |lesson| %>
            <p><%= lesson.title %></p>
          <% end %>
        </div>
      </div>

  </div>
  </div>
</div>
