<div class="container">

  <%= render :partial => 'courses/sidebar' %>

  <!-- Course Information -->
  <div class="container">
    <div id="course-content">
      <div class="course-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path('boy.jpg') %>);">
      <div class="banner-content">
        <h3><%= @course.title %></h3>
        <p><%=  @course.tagline %></p>
      </div>
      </div>


      <div class="row">
        <div class="course_issue">
          <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-4 col-offset-1">
            <a name = "issue"></a>
                <div>
                  <h3 class="text-center"><strong>The Issue </strong></h3>
                  <p><%= @course.issue %></p>
                </div>
          </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-4 col-offset-1">
            <a name = "issue"></a>
              <div>
                <%= image_tag ("boy_missing_hand.jpg"), class:"img-rounded", alt:"Boy missing a hand", width:"304", height:"236" %>
              </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="course_technology">
          <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-4 col-offset-1">
            <a name = "technology"></a>
                <div>
                  <h3 class="text-center"><strong>The Technology </strong></h3>
                  <p><%= @course.tech_solution %></p>
                </div>
          </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-4 col-offset-1">
            <a name = "issue"></a>
              <div>
                <%= image_tag ("3dprintedhands.png"), class:"img-rounded", alt:"3D printed hands", width:"304", height:"236" %>
              </div>
          </div>
        </div>
      </div>

    <!-- Course Description -->
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
        <a name = "description"></a>
          <div class="text-left">
            <div>
              <h3 class="text-center"><strong>Course Description</strong></h3>
              <p><%= @course.description %></p>
            </div>
          </div>
        </div>
      </div>

      <hr>


    <!-- Lesson Information -->
        <div class="row">
          <div class="col-xs-12">
           <a name = "syllabus"></a>
            <div class="text-left">
              <h3 class="text-center"><strong>Syllabus</strong></p>
                <div>
                  <ol>
                    <% @course.lessons.each do |lesson| %>
                      <li><%= lesson.title %></li>
                    <% end %>
                  </ol>
                </div>
            </div>
          </div>
        </div>


      <hr>

      <a name = "organization"></a>
        <div class="course-description text-left">
          <p><strong>Course by: </strong><%= @course.organization.name %></p>
          <p>  <%= @course.organization.description %></p>

        </div>


    </div>
  </div>
</div>
