<!-- Banner  -->
<div class="organization-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path('banner.jpeg') %>);">
</div>

<!-- Course Information -->
<div class="container padded">

<!-- Course Title -->
  <div class="organization-title">
    <h1><%= @organization.name %></h1>
  </div>

<!-- Organization Social Media -->
  <div>
    <h4>FOLLOW <%= @organization.name.upcase %></h4>
    <div class="socials">
      <ul class="list-inline">
        <li><a href=""><i class="fa fa-youtube"></i></a></li>
        <li><a href=""><i class="fa fa-instagram"></i></a></li>
        <li><a href=""><i class="fa fa-facebook"></i></a></li>
        <li><a href=""><i class="fa fa-twitter"></i></a></li>
      </ul>
    </div>
  </div>

<!-- Organization Description -->
  <div class="organization-description">
    <h4>DESCRIPTION</h4>
    <div>
      <p><%= @organization.description %></p>
    </div>
  </div>

<!-- Course Information -->
  <div class="course-information">
    <h4>COURSES</h4>
    <div>
      <% @organization.courses.each do |course| %>
        <h5><%= course.title %></h5>
        <p><%= course.description %></p>
      <% end %>
    </div>
  </div>

</div>
